Agendamento WhatsApp.json
{
  "name": "Agendamento Completo com MySQL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook"
      },
      "name": "Webhook IN",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "whatsapp-webhook"
    },
    {
      "parameters": {
        "functionCode": "return [{json:{telefone:$json.body.From, mensagem:$json.body.Body?.trim().toLowerCase(), to:$json.body.To}}];"
      },
      "name": "Extrair Dados WhatsApp",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [250, 0]
    },
    {
      "parameters": {
        "query": "SELECT * FROM conversas WHERE telefone='{{$json.telefone}}';"
      },
      "name": "Buscar Estado",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [500, 0],
      "credentials": {
        "mySql": "MySQL Local"
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"data\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "Usuário Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 0]
    },
    {
      "parameters": {
        "query": "INSERT INTO conversas (telefone, estado) VALUES ('{{$json.telefone}}','menu');"
      },
      "name": "Criar Novo Usuário",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [1000, -150],
      "credentials": {
        "mySql": "MySQL Local"
      }
    },
    {
      "parameters": {
        "from": "={{$json.to}}",
        "to": "={{$json.telefone}}",
        "message": "Olá 👋! Eu sou o assistente virtual.\nEscolha uma opção:\n1️⃣ - Agendar consulta\n2️⃣ - Tirar dúvidas\n3️⃣ - Cancelar agendamento"
      },
      "name": "Enviar Menu Inicial",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1250, -150],
      "credentials": {
        "twilioApi": "Twilio account"
      }
    },
    {
      "parameters": {
        "functionCode": "return [{json:{estado: $json.data?.[0]?.estado || 'menu', telefone: $json.telefone, mensagem: $json.mensagem, to: $json.to}}];"
      },
      "name": "Extrair Estado Atual",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, 150]
    },
    {
      "parameters": {
        "propertyName": "estado",
        "rules": [
          { "operation": "equal", "value": "menu" },
          { "operation": "equal", "value": "esperando_nome_data" },
          { "operation": "equal", "value": "esperando_cancelamento" },
          { "operation": "equal", "value": "esperando_duvida" }
        ]
      },
      "name": "Switch Estado Atual",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1250, 150]
    },
    {
      "parameters": {
        "functionCode": "const msg=$json.mensagem;if(msg.includes('1'))return[{json:{acao:'agendar'}}];if(msg.includes('2'))return[{json:{acao:'duvida'}}];if(msg.includes('3'))return[{json:{acao:'cancelar'}}];return[{json:{acao:'menu'}}];"
      },
      "name": "Interpretar Escolha no Menu",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1500, -50]
    },
    {
      "parameters": {
        "query": "UPDATE conversas SET estado='esperando_nome_data' WHERE telefone='{{$json.telefone}}';"
      },
      "name": "Atualizar Estado Esperando Nome/Data",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [1750, -150],
      "credentials": {
        "mySql": "MySQL Local"
      }
    },
    {
      "parameters": {
        "from": "={{$json.to}}",
        "to": "={{$json.telefone}}",
        "message": "Por favor, envie no formato:\nNome, AAAA-MM-DD HH:MM"
      },
      "name": "Pedir Nome/Data",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [2000, -150],
      "credentials": {
        "twilioApi": "Twilio account"
      }
    },
    {
      "parameters": {
        "functionCode": "const msg=$json.mensagem;if(!msg.includes(','))return[];const parts=msg.split(',');return[{json:{nome:parts[0].trim(),data:parts[1].trim(),telefone:$json.telefone,to:$json.to}}];"
      },
      "name": "Extrair Nome/Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1500, 150]
    },
    {
      "parameters": {
        "calendar": "primary",
        "title": "Consulta com {{$json.nome}}",
        "start": "={{$json.data}}",
        "end": "={{$json.data}}",
        "description": "={{$json.telefone}}"
      },
      "name": "Criar Evento Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [1750, 150],
      "credentials": {
        "googleCalendarOAuth2Api": "Google Calendar account"
      }
    },
    {
      "parameters": {
        "from": "={{$json.to}}",
        "to": "={{$json.telefone}}",
        "message": "✅ Agendamento confirmado!\n{{$json.nome}} em {{$json.data}}"
      },
      "name": "Confirmar Agendamento",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [2000, 150],
      "credentials": {
        "twilioApi": "Twilio account"
      }
    },
    {
      "parameters": {
        "query": "UPDATE conversas SET estado='menu' WHERE telefone='{{$json.telefone}}';"
      },
      "name": "Voltar ao Menu (Após Agendar)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [2250, 150],
      "credentials": {
        "mySql": "MySQL Local"
      }
    },
    {
      "parameters": {
        "query": "UPDATE conversas SET estado='esperando_cancelamento' WHERE telefone='{{$json.telefone}}';"
      },
      "name": "Atualizar Estado Esperando Cancelamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [1750, 50],
      "credentials": {
        "mySql": "MySQL Local"
      }
    },
    {
      "parameters": {
        "from": "={{$json.to}}",
        "to": "={{$json.telefone}}",
        "message": "Envie o Nome e Data do agendamento que deseja cancelar (Nome, AAAA-MM-DD HH:MM)"
      },
      "name": "Pedir Cancelamento",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [2000, 50],
      "credentials": {
        "twilioApi": "Twilio account"
      }
    }
  ],
  "connections": {
    "Webhook IN": { "main": [[{ "node": "Extrair Dados WhatsApp", "type": "main", "index": 0 }]] },
    "Extrair Dados WhatsApp": { "main": [[{ "node": "Buscar Estado", "type": "main", "index": 0 }]] },
    "Buscar Estado": { "main": [[{ "node": "Usuário Existe?", "type": "main", "index": 0 }]] },
    "Usuário Existe?": {
      "main": [
        [{ "node": "Criar Novo Usuário", "type": "main", "index": 0 }],
        [{ "node": "Extrair Estado Atual", "type": "main", "index": 0 }]
      ]
    },
    "Criar Novo Usuário": { "main": [[{ "node": "Enviar Menu Inicial", "type": "main", "index": 0 }]] },
    "Extrair Estado Atual": { "main": [[{ "node": "Switch Estado Atual", "type": "main", "index": 0 }]] },
    "Switch Estado Atual": {
      "main": [
        [{ "node": "Interpretar Escolha no Menu", "type": "main", "index": 0 }],
        [{ "node": "Extrair Nome/Data", "type": "main", "index": 0 }]
      ]
    },
    "Interpretar Escolha no Menu": {
      "main": [
        [{ "node": "Atualizar Estado Esperando Nome/Data", "type": "main", "index": 0 }],
        [{ "node": "Atualizar Estado Esperando Cancelamento", "type": "main", "index": 0 }]
      ]
    },
    "Atualizar Estado Esperando Nome/Data": { "main": [[{ "node": "Pedir Nome/Data", "type": "main", "index": 0 }]] },
    "Atualizar Estado Esperando Cancelamento": { "main": [[{ "node": "Pedir Cancelamento", "type": "main", "index": 0 }]] },
    "Extrair Nome/Data": { "main": [[{ "node": "Criar Evento Google Calendar", "type": "main", "index": 0 }]] },
    "Criar Evento Google Calendar": { "main": [[{ "node": "Confirmar Agendamento", "type": "main", "index": 0 }]] },
    "Confirmar Agendamento": { "main": [[{ "node": "Voltar ao Menu (Após Agendar)", "type": "main", "index": 0 }]] }
  }
}
