Agendamento Humanizado.json
{
  "name": "Agendamento Humanizado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "name": "Webhook IN",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1648,
        256
      ],
      "webhookId": "whatsapp-webhook",
      "id": "7e21dd7c-8ecc-4a7d-ae93-d0fc2f46d20d"
    },
    {
      "parameters": {
        "functionCode": "if ($node['Webhook IN'].json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"type\"] == 'text') {\n  return [{json: {\n  telefone: $node[\"Webhook IN\"].json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"from\"],\n  mensagem: $json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"text\"][\"body\"]\n}}];\n}\n\n\nif ($node['Webhook IN'].json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"type\"] == 'audio') {\n  return [{json: {\n  telefone: $node[\"Webhook IN\"].json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"from\"],\n  mensagem: $json[\"candidates\"][\"0\"][\"content\"][\"parts\"][\"0\"][\"text\"]\n}}];\n}"
      },
      "name": "Extrair Dados WhatsApp",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -704,
        240
      ],
      "id": "cf4f3f74-0237-41c0-af2f-d8829fb43939"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into conversas (telefone)\nvalues ('{{ $('Extrair Dados WhatsApp').item.json.telefone }}');"
      },
      "name": "Criar Novo Usuário",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        96,
        64
      ],
      "id": "beb9dd0d-575d-419e-bb8a-5527897cf80e",
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d1c7337d-2db4-40b7-af13-1afa7ba0ebb1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dfd01a53-6dfc-4bbe-97a1-fc5c56b059f8",
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1472,
        256
      ],
      "id": "de2a727c-eb8b-4724-afd7-497245003dc6",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.body.entry[0].changes[0].value.messages[0].audio.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        352
      ],
      "id": "3a60cd24-3493-4b4c-be8a-2d5585114325",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -912,
        352
      ],
      "id": "3e9dfcf1-3468-4b67-8923-2f0ae8f6ab7f",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1088,
        352
      ],
      "id": "aca1a302-3d26-4628-a87e-70527caf9186",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tipo, conteudo\nFROM mensagens\nWHERE conversas_id = (\n    SELECT id FROM conversas WHERE telefone = {{ $json.telefone }}\n)\nORDER BY id DESC\nLIMIT 30;"
      },
      "name": "Buscar mensagens",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -528,
        240
      ],
      "id": "29ffd255-8dc3-4a9b-8766-d348ab72682f",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é o assistente virtual (agente) de uma clínica odontológica. Estamos localizados em Limeira - SP, Brasil. Trabalhamos das 08:00 às 18:00, de segunda-feira à sexta-feira. Não trabalhamos em feriados. Hoje é {{ $now }}.\n\nSeu papel é conversar de forma natural, educada e objetiva com os clientes.\nVocê entende o contexto a partir das mensagens anteriores e responde de forma coerente. Não use linguagem robótica. Seja simpático e conciso. Caso não há histórico de mensagens, informe ao cliente que ele está conversando com uma assistente virtual da clínica odontológica e que ele pode tirar dúvidas, agendar, remarcar ou desmarcar consultas.\n\nVocê deve esclarecer as dúvidas do cliente com a possibilidade de marcar uma consulta presencial. Nossas consultas duram cerca de 1 hora. Para agendamentos, todas as seguintes condições devem ser verdadeiras: intenção por parte do cliente; data; horário. Ao conseguir obter essas informações ou o cliente pedir pela disponibilidade de horários, execute a ferramenta 'consultar_eventos' para obter a disponibilidade de horários. Caso haja disponibilidade para a consulta de 1 hora na data e horário em que o cliente deseja, execute a ferramenta 'criar_evento' para criar evento no Google Calendar. Se não há disponibilidade, ofereça horários ou dias alternativos conforme o cliente também fornece sua disponibilidade. Não indique dias e horários no passado, fora do dia da semana e horários em que trabalhos ou feriados. Ao indicar horários, sempre deixe claro todas as datas e horários livres, dentro do contexto da conversa. Após criar o evento no Google Calendar, confirme ao cliente que sua consulta foi marcada com sucesso na data e horário agendadas.\n\nO cliente também pode querer reagendar ou desmarcar suas consultas. Para estes casos, você deve informar ao cliente quais são as datas que ele agendou e então prosseguir para os passos de reagendamento ou cancelamento de consulta. A seguir estão as datas agendadas e seus respectivos ID do evento no Google Calendar para este cliente (se vazio, informe ao cliente que não há nenhuma data agendada):\n{{ $json.datas_agendadas }}\n\nPara o caso de o cliente querer remarcar/reagendar sua consulta, todas as seguintes condições devem ser verdadeiras: intenção do cliente reagendar seu horário; a data de sua consulta que deseja reagendar; nova data para agendar; novo horário para agendar. Ao conseguir obter essas informações, execute a ferramenta 'consultar_eventos' para obter a disponibilidade de horários. Caso haja disponibilidade para a consulta de 1 hora na nova data e horário em que o cliente deseja, execute a ferramenta 'atualizar_evento' para atualizar o evento no Google Calendar. Se não há disponibilidade, ofereça horários ou dias alternativos conforme o cliente também fornece sua disponibilidade. Não indique dias e horários no passado, fora do dia da semana e horários em que trabalhos ou feriados. Ao indicar horários, sempre deixe claro todas as datas e horários livres, dentro do contexto da conversa. Após atualizar o evento no Google Calendar, confirme ao cliente que a consulta foi remarcada com sucesso para a nova data e horário.\n\nPara o caso de o cliente querer cancelar sua consulta, todas as seguintes condições devem ser verdadeiras: intenção do cliente cancelar sua consulta; a data de sua consulta para cancelar. Ao confirmar essas condições, execute a ferramenta 'deletar_evento' para deletar o evento no Google Calendar. Após deletar o evento no Google Calendar, confirme ao cliente que sua consulta foi cancelada com sucesso.\n\nMensagens anteriores:\n{{ $('Junta as msgs').first().json.historico }}\n\nÚltima mensagem do cliente:\n{{ $('Extrair Dados WhatsApp').first().json.mensagem }}",
        "hasOutputParser": true,
        "options": {
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        432,
        240
      ],
      "id": "526095c5-a911-4ae9-a1d1-2c7fe68fb4b3",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "modelName": "models/gemini-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        592
      ],
      "id": "2d7a5c79-d82d-4c53-aa43-79fe913c2043",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const historico = $input.all().map(item => item.json)\n\nreturn [{json:{\n  historico: JSON.stringify(historico)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        240
      ],
      "id": "5b4ae15b-f7d6-48c4-bbe2-32d76326f5b7",
      "name": "Junta as msgs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Dados WhatsApp').first().json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n$('AI Agent').item.json.output.mensagem\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        240
      ],
      "id": "ceaddb1c-cffc-4dcb-8bd1-216c526c6af7",
      "name": "Enviar msg da IA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05c8f79b-6271-4855-9e49-12164adf584c",
              "leftValue": "={{ $('Buscar mensagens').first().json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        240
      ],
      "id": "84acea83-fecd-4984-9ae8-84704567d540",
      "name": "If cliente nao existe"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n      \"nome\": {\n          \"type\": [\"string\", \"null\", \"undefined\"],\n          \"description\": \"Nome do cliente se explícito na conversa\"\n      },\n      \"mensagem\": {\n          \"type\": \"string\",\n          \"description\": \"Mensagem a ser enviada ao cliente, não sendo necessário informar ID de eventos do Google Calendar\"\n      },\n      \"eventoId\": {\n          \"type\": [\"string\", \"null\", \"undefined\"],\n          \"description\": \"ID do evento criado, atualizado ou deletado no Google Calendar\"\n      }\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        800,
        592
      ],
      "id": "a4af6f30-2ba2-4c1b-aa08-5ccc676479c4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa ferramenta para criar eventos no Google Calendar, para agendamento de consultas, quando apropriado.\n\nEntrada esperada: {\"dataHoraInicial\": \"Data e horário na qual o cliente deseja agendar, convertendo para o formato 'YYYY-MM-DDTHH:mm:ss-03:00'\", \"dataHoraFinal\": \"Valor de 'dataHoraInicial' acrescido de 1 hora\", \"nome\": \"Nome do cliente\"}\n\nSaída esperada: lista contendo os dados do evento criado.",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Data e horário na qual o cliente deseja agendar, convertendo para o formato 'YYYY-MM-DDTHH:mm:ss-03:00'`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `A data e horário na qual o cliente deseja agendar, adicionado de 1 hora.`, 'string') }}",
        "additionalFields": {
          "summary": "=Consulta {{ $fromAI('nome', 'Nome do cliente', 'string', '') }} {{ $('Extrair Dados WhatsApp').first().json.telefone }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        256,
        592
      ],
      "id": "f66bdbe1-fecd-4acb-ad15-390ad9ea2edb",
      "name": "criar_evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into mensagens (conversas_id, tipo, conteudo)\nvalues (\n  (select id from conversas where telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}'),\n  'cliente',\n  '{{ $('Extrair Dados WhatsApp').first().json.mensagem }}'\n);\n\ninsert into mensagens (conversas_id, tipo, conteudo)\nvalues (\n  (select id from conversas where telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}'),\n  'agente',\n  '{{ $('AI Agent').first().json.output.mensagem }}'\n);\n\nupdate conversas\nset ultima_interacao = DATE_SUB(CURRENT_TIMESTAMP, INTERVAL 3 HOUR), nome = '{{ $('AI Agent').first().json.output.nome ? `${$('AI Agent').first().json.output.nome}` : '' }}'\nwhere telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        800,
        240
      ],
      "id": "fdd37df1-6334-4b14-bb7a-cb4d96170fe9",
      "name": "Insert into mensagens Update conversas Update nome",
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use esta ferramenta quando precisar verificar se há eventos no Google Calendar em um intervalo de tempo.\n\nEntrada esperada: {\"data_inicio\": \"YYYY-MM-DDTHH:MM:SS-03:00\", \"data_fim\": \"YYYY-MM-DDTHH:MM:SS-03:00\"}\n\nSaída: lista de eventos encontrados (pode estar vazia).",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `Início da data para consultar, no formato 'YYYY-MM-DDTHH:MM:SS-03:00'.`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `Fim da data para consultar, no formato 'YYYY-MM-DDTHH:MM:SS-03:00'.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        384,
        592
      ],
      "id": "0e7a5f41-0ac0-4b66-8d7a-de765ebe97e2",
      "name": "consultar_eventos",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        752
      ],
      "id": "029ea7be-d4bb-4a0b-8c7c-5d8927e6b488",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Triggers adicionais",
        "height": 1232,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        784
      ],
      "typeVersion": 1,
      "id": "4f475cd0-122b-4b74-b232-d948dc216427",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1600
      ],
      "id": "1e8d33dd-51de-4402-bcd5-ea679375d1d9",
      "name": "Lembrete 1 dia antes"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select c.nome, c.telefone, e.`data`\nfrom eventos_agendados as e\njoin conversas as c\non e.conversas_id = c.id\nwhere e.status = 'ativo'\n  and DATE(e.`data`) = DATE_ADD(CURRENT_DATE(), INTERVAL 1 DAY);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1280,
        1600
      ],
      "id": "85a88f3d-9db1-4595-8796-550e27dd9075",
      "name": "Select datas agendadas amanha",
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.all().map(item => ({json: {\n  nome: item.json.nome || 'cliente',\n  data: item.json.data.slice(11).slice(0, 5),\n  telefone: item.json.telefone\n}}));\n\nreturn dados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        1600
      ],
      "id": "471c92c7-5212-461e-8655-e4579beb296f",
      "name": "Formatar os dados"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1824
      ],
      "id": "520890a3-1627-4e46-b5b2-4aade60cf77f",
      "name": "Lembrete no dia"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select c.nome, c.telefone, e.`data`\nfrom eventos_agendados as e\njoin conversas as c\non e.conversas_id = c.id\nwhere e.status = 'ativo'\n  and DATE(e.`data`) = CURRENT_DATE();",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1280,
        1824
      ],
      "id": "b717c521-c231-4b7e-b019-98d384c1d767",
      "name": "Select datas agendadas hoje",
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.all().map(item => ({json: {\n  nome: item.json.nome || 'cliente',\n  data: item.json.data.slice(11).slice(0, 5),\n  telefone: item.json.telefone\n}}));\n\nreturn dados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        1824
      ],
      "id": "c1d74ab6-3810-4163-a238-cc8c099cbde6",
      "name": "Formatar os dados1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "type",
              "value": "template"
            },
            {
              "name": "template",
              "value": "={{\n{\n  name: \"lembrete_1_dia_antes\",\n  language: {code: \"pt_BR\"},\n  components: [\n    {\n      type: \"body\",\n      parameters: [\n        {\n          type: \"text\",\n          text: `${$json.nome}`,\n          parameter_name: \"nome\"\n        },\n        {\n          type: \"text\",\n          text: `${$json.data}`,\n          parameter_name: \"data\"\n        }\n      ]\n    }\n  ]\n}\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        1600
      ],
      "id": "c481cc82-906d-47f7-89a0-f46eb235c48c",
      "name": "Enviar aviso"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "type",
              "value": "template"
            },
            {
              "name": "template",
              "value": "={{\n{\n  name: \"lembrete_no_dia\",\n  language: {code: \"pt_BR\"},\n  components: [\n    {\n      type: \"body\",\n      parameters: [\n        {\n          type: \"text\",\n          text: `${$json.nome}`,\n          parameter_name: \"nome\"\n        },\n        {\n          type: \"text\",\n          text: `${$json.data}`,\n          parameter_name: \"data\"\n        }\n      ]\n    }\n  ]\n}\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        1824
      ],
      "id": "902c7c45-2c2b-45f6-b251-3a82b8ea09a1",
      "name": "Enviar aviso5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select `data` as data_agendada, evento_id\nfrom eventos_agendados\nwhere conversas_id = (select id from conversas where telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}')\n  and status = 'ativo'\n  and `data` >= DATE_SUB(CURRENT_TIMESTAMP, INTERVAL 3 HOUR);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        32,
        240
      ],
      "id": "e15318b5-4345-4e61-bcc2-23227029255f",
      "name": "Busca por datas agendadas",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const datas_agendadas = $input.all().map(item => item.json);\n\nreturn [{json: {\n  datas_agendadas: JSON.stringify(datas_agendadas)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        240
      ],
      "id": "1ecf6cf0-8a95-4415-a512-b586ab5f8a4f",
      "name": "Junta td"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa ferramenta para deletar eventos no Google Calendar, para cancelamento de consultas, quando apropriado.\n\nEntrada esperada: {\"eventoId\": \"ID do evento no Google Calendar no qual o cliente deseja cancelar\"}\n\nSaída esperada: lista contendo os dados do evento deletado.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `ID do evento no Google Calendar no qual o cliente deseja cancelar.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        528,
        592
      ],
      "id": "b3e9034d-8367-4c9a-8dc8-8fb47a608c48",
      "name": "deletar_evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn [{json: {\n  criar_evento: $input.first().json.intermediateSteps.some(item => item.action?.tool == 'criar_evento'),\n  atualizar_evento: $input.first().json.intermediateSteps.some(item => item.action?.tool == 'atualizar_evento'),\n  deletar_evento: $input.first().json.intermediateSteps.some(item => item.action?.tool == 'deletar_evento')\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -176
      ],
      "id": "413c3aca-ffb4-447f-a521-ba7fbf084f19",
      "name": "Tools executados"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f4e70fbe-27c6-41fb-91b6-f48778f6c7bc",
                    "leftValue": "={{ $json.criar_evento }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "criar_evento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "59ec5e05-0d79-4685-aae0-1139c41f97d4",
                    "leftValue": "={{ $json.atualizar_evento }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "atualizar_evento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5d7c10e5-eb6b-4069-b514-3c20a198fa3a",
                    "leftValue": "={{ $json.deletar_evento }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deletar_evento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        992,
        -192
      ],
      "id": "6e6e0728-bd1f-4150-b46f-e57f963ab731",
      "name": "Tool executado"
    },
    {
      "parameters": {
        "jsCode": "let data = undefined;\n\nfor (const item of $(\"AI Agent\").first().json.intermediateSteps) {\n  if (item.action.tool == 'criar_evento') {\n    data = item.action.toolInput.Start.replace('T', ' ').slice(0, 19);\n  }\n}\n\nreturn [{json: {\n  data: data\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -400
      ],
      "id": "210a2e1b-b291-44f6-ba71-65427612d1d7",
      "name": "Retorna data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into eventos_agendados (conversas_id, `data`, evento_id)\nvalues (\n  (select id from conversas where telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}'),\n  '{{ $json.data }}',\n  '{{ $('AI Agent').first().json.output.eventoId }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1472,
        -400
      ],
      "id": "1ca53ed9-d8cf-4b3d-b7ce-de361c394eaa",
      "name": "Insert into eventos_agendados",
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update eventos_agendados\nset status = 'cancelado'\nwhere evento_id = '{{ $('AI Agent').first().json.output.eventoId }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1264,
        16
      ],
      "id": "11bb2a3b-ccad-41ca-b164-f02982458b9e",
      "name": "Update eventos_agendados",
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let data = undefined;\n\nfor (const item of $(\"AI Agent\").first().json.intermediateSteps) {\n  if (item.action.tool == 'atualizar_evento') {\n    data = item.action.toolInput.dataHoraInicial.replace('T', ' ').slice(0, 19);\n  }\n}\n\nreturn [{json: {\n  data: data\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -176
      ],
      "id": "551c9476-0e33-41c4-a7dc-0f9065adb50f",
      "name": "Retorna data1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into eventos_agendados (conversas_id, `data`, evento_id)\nvalues (\n  (select id from conversas where telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}'),\n  '{{ $('Retorna data1').first().json.data }}',\n  '{{ $('AI Agent').first().json.output.eventoId }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1632,
        -176
      ],
      "id": "6ae7be9e-ee1e-4b30-b0d9-a329881d54e7",
      "name": "Insert into eventos_agendados1",
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update eventos_agendados\nset status = 'cancelado'\nwhere evento_id = '{{ $('AI Agent').first().json.output.eventoId }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1456,
        -176
      ],
      "id": "be7400fa-0452-4515-9668-64b8f2b7a7ba",
      "name": "Update eventos_agendados1",
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa ferramenta para atualizar eventos no Google Calendar, para reagendamento de consultas, quando apropriado.\n\nEntrada esperada: {\"dataHoraInicial\": \"Nova data e horário na qual o cliente deseja agendar, convertendo para o formato 'YYYY-MM-DDTHH:mm:ss-03:00'\", \"dataHoraFinal\": \"Valor de 'dataHoraInicial' acrescido de 1 hora\", \"eventoId\": \"ID do evento no Google Calendar que o cliente deseja reagendar\"}\n\nSaída esperada: lista contendo os dados do evento atualizado.",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "eventId": "={{ $fromAI('eventoId', 'ID do evento no Google Calendar no qual o cliente quer reagendar', 'string') }}",
        "updateFields": {
          "end": "={{ $fromAI('dataHoraFinal', 'Nova data e horário na qual o cliente deseja agendar, no formato YYYY-MM-DDTHH:mm:ss-03:00, acrescido de 1 hora', 'string') }}",
          "start": "={{ $fromAI('dataHoraInicial', 'Nova data e horário na qual o cliente deseja agendar, convertendo para o formato YYYY-MM-DDTHH:mm:ss-03:00', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        672,
        592
      ],
      "id": "18702e75-b01f-4616-9fbd-2d39aed6f53f",
      "name": "atualizar_evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Agendamento confirmado {{ $json.data }}",
        "emailType": "text",
        "message": "={{ $json.summary }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1088,
        912
      ],
      "id": "cc1671e3-d16e-4a2f-88c6-49345ceb4248",
      "name": "Send a message",
      "webhookId": "d5bb4bea-d29b-41f8-98a1-bd986651d69d",
      "credentials": {
        "gmailOAuth2": {
          "id": "d0mnV1TzVQ706o6A",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const dataISO = new Date($input.item.json.start.dateTime);\n\nreturn {\"json\": {\n  \"data\": dataISO.toLocaleString('pt-BR', {\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n  timeZone: 'America/Sao_Paulo'\n}).replace(',', ''),\n  \"summary\": $json.summary,\n  \"email\": $json.creator.email\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        912
      ],
      "id": "69e41c8f-f511-4df6-8293-e751defc2d9f",
      "name": "Formatar data1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "triggerOn": "eventCreated",
        "options": {
          "matchTerm": "Consulta"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        912
      ],
      "id": "0248135f-5193-4d40-b647-1c036533b7cc",
      "name": "Trigger evento criado",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Agendamento cancelado {{ $json.data }}",
        "emailType": "text",
        "message": "={{ $json.summary }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1072,
        1136
      ],
      "id": "ffcc044c-d585-425e-97af-80e6b9435eaa",
      "name": "Send a message1",
      "webhookId": "de654d40-b863-4c9f-b1f4-140f63e30056",
      "credentials": {
        "gmailOAuth2": {
          "id": "d0mnV1TzVQ706o6A",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const dataISO = new Date($input.item.json.start.dateTime);\n\nreturn {\"json\": {\n  \"data\": dataISO.toLocaleString('pt-BR', {\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n  timeZone: 'America/Sao_Paulo'\n}).replace(',', ''),\n  \"summary\": $json.summary,\n  \"email\": $json.creator.email\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        1136
      ],
      "id": "3a0876c6-dcbf-46a0-b139-5aa1885246c2",
      "name": "Formatar data"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "triggerOn": "eventCancelled",
        "options": {
          "matchTerm": "Consulta"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        1136
      ],
      "id": "378dc3ec-5a17-4151-9fed-c559141614af",
      "name": "Trigger evento cancelado",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Agendamento remarcado de {{ $json.dataAnterior }} para {{ $json.dataAtual }}",
        "emailType": "text",
        "message": "={{ $json.summary }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -864,
        1360
      ],
      "id": "cea2314c-5b9a-468b-9981-3efed8b04552",
      "name": "Send a message2",
      "webhookId": "de654d40-b863-4c9f-b1f4-140f63e30056",
      "credentials": {
        "gmailOAuth2": {
          "id": "d0mnV1TzVQ706o6A",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "triggerOn": "eventUpdated",
        "options": {
          "matchTerm": "Consulta"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        1360
      ],
      "id": "899d7f0d-e969-4fb4-99c3-72c50ea232ad",
      "name": "Trigger evento atualizado",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select `data`, '{{ $json.creator.email }}' as email, '{{ $json.summary }}' as summary, '{{ $json.start.dateTime }}' as startDateTime\nfrom eventos_agendados\nwhere evento_id = '{{ $json.id }}'\n  and status = 'cancelado'\norder by id DESC\nlimit 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1280,
        1360
      ],
      "id": "2d28282b-62fc-4d85-877e-68ce0b8279cf",
      "name": "Select datas canceladas",
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const dataISO = new Date($json.startDateTime);\n\n  const dataSql = new Date($json.data);\n\nconst formatador = new Intl.DateTimeFormat('pt-BR', {year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false});\n\nconst dataAntiga = formatador.format(dataSql);\n\nreturn {\"json\": {\n  \"dataAtual\": dataISO.toLocaleString('pt-BR', {\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false,\n    timeZone: 'America/Sao_Paulo'\n  }).replace(',', ''),\n  \"dataAnterior\": dataAntiga.replace(',', ''),\n  \"email\": $json.email,\n  \"summary\": $json.summary\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        1360
      ],
      "id": "73a128ad-a6d8-4935-9762-28670e5913c2",
      "name": "Formatar datas"
    }
  ],
  "pinData": {
    "Webhook IN": [
      {
        "json": {
          "headers": {
            "host": "bethann-conciliable-unvibrantly.ngrok-free.dev",
            "user-agent": "facebookexternalua",
            "content-length": "527",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json",
            "x-forwarded-for": "2a03:2880:10ff:8::",
            "x-forwarded-host": "bethann-conciliable-unvibrantly.ngrok-free.dev",
            "x-forwarded-proto": "https",
            "x-hub-signature": "sha1=cdd71bc40e4d71dd469024a5d76562168109399d",
            "x-hub-signature-256": "sha256=2b28059d7e0ec869b403f82fe1629a11b8e2c07698c250b87142cd5c9ee55615"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "whatsapp_business_account",
            "entry": [
              {
                "id": "1485481985861913",
                "changes": [
                  {
                    "value": {
                      "messaging_product": "whatsapp",
                      "metadata": {
                        "display_phone_number": "551930610140",
                        "phone_number_id": "914808141706009"
                      },
                      "contacts": [
                        {
                          "profile": {
                            "name": "Mateus Schmidt Mesquita"
                          },
                          "wa_id": "5519996643834"
                        }
                      ],
                      "messages": [
                        {
                          "from": "5519996643834",
                          "id": "wamid.HBgNNTUxOTk5NjY0MzgzNBUCABIYFDNGMTVEM0QzQTE2QjFERTAzREE5AA==",
                          "timestamp": "1763528717",
                          "text": {
                            "body": "quero marcar uma consulta amanha as 15"
                          },
                          "type": "text"
                        }
                      ]
                    },
                    "field": "messages"
                  }
                ]
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook/whatsapp-webhook",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook IN": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados WhatsApp": {
      "main": [
        [
          {
            "node": "Buscar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extrair Dados WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Extrair Dados WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens": {
      "main": [
        [
          {
            "node": "Junta as msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Novo Usuário": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Junta as msgs": {
      "main": [
        [
          {
            "node": "If cliente nao existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Insert into mensagens Update conversas Update nome",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tools executados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If cliente nao existe": {
      "main": [
        [
          {
            "node": "Criar Novo Usuário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca por datas agendadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "criar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insert into mensagens Update conversas Update nome": {
      "main": [
        [
          {
            "node": "Enviar msg da IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 1 dia antes": {
      "main": [
        [
          {
            "node": "Select datas agendadas amanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select datas agendadas amanha": {
      "main": [
        [
          {
            "node": "Formatar os dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar os dados": {
      "main": [
        [
          {
            "node": "Enviar aviso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete no dia": {
      "main": [
        [
          {
            "node": "Select datas agendadas hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select datas agendadas hoje": {
      "main": [
        [
          {
            "node": "Formatar os dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar os dados1": {
      "main": [
        [
          {
            "node": "Enviar aviso5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca por datas agendadas": {
      "main": [
        [
          {
            "node": "Junta td",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Junta td": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deletar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tools executados": {
      "main": [
        [
          {
            "node": "Tool executado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool executado": {
      "main": [
        [
          {
            "node": "Retorna data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna data1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update eventos_agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna data": {
      "main": [
        [
          {
            "node": "Insert into eventos_agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna data1": {
      "main": [
        [
          {
            "node": "Update eventos_agendados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update eventos_agendados1": {
      "main": [
        [
          {
            "node": "Insert into eventos_agendados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Formatar data1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger evento criado": {
      "main": [
        [
          {
            "node": "Formatar data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar data": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger evento cancelado": {
      "main": [
        [
          {
            "node": "Formatar data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger evento atualizado": {
      "main": [
        [
          {
            "node": "Select datas canceladas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select datas canceladas": {
      "main": [
        [
          {
            "node": "Formatar datas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar datas": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a16aafac-eaf3-4dfa-b390-c3f996fedfb9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a5858773c819eef5c772c511bb8bf6c8d350f72a6984a156e8f3d5f5f2f96f8"
  },
  "id": "tpQQxs74EIrt0yrP",
  "tags": []
}