Agendamento Completo com MySQL.json
{
  "name": "Agendamento Completo com MySQL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "name": "Webhook IN",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1472,
        656
      ],
      "webhookId": "whatsapp-webhook",
      "id": "8f3e6a43-9396-440c-a8e2-21729c054199"
    },
    {
      "parameters": {
        "functionCode": "return [{json:{telefone:$json.body.From, mensagem:$json.body.Body?.trim().toLowerCase(), to:$json.body.To}}];"
      },
      "name": "Extrair Dados WhatsApp",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1280,
        656
      ],
      "id": "768dc22a-14d9-484d-b66d-e9a74e15f694"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from conversas\nwhere telefone = '{{ $json.telefone }}';"
      },
      "name": "Buscar Estado",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -1104,
        656
      ],
      "id": "fcfe0085-7ea5-4b3b-9d55-c6f171cc2f79",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "Usuário Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -944,
        656
      ],
      "id": "6cd9f360-6762-4be0-9558-c66857f9fd3f"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into conversas (telefone, estado)\nvalues ('{{ $('Extrair Dados WhatsApp').item.json.telefone }}', 'menu');"
      },
      "name": "Criar Novo Usuário",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -768,
        464
      ],
      "id": "395c14a6-dca9-4972-ac63-de322bfb5000",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $('Transformação de dadoss').item.json.data_google_calendar_start }}",
        "end": "={{ $('Transformação de dadoss').item.json.data_google_calendar_end }}",
        "additionalFields": {
          "sendUpdates": "all",
          "summary": "=Consulta {{ $('Transformação de dadoss').item.json.nome }} {{ $('Transformação de dadoss').item.json.to }}"
        }
      },
      "name": "Criar Evento Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1408,
        848
      ],
      "id": "5c646a89-1a86-4821-a4dd-9a6b6b983941",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $('Extrair Dados WhatsApp').item.json.to }}",
        "to": "={{ $('Extrair Dados WhatsApp').item.json.telefone }}",
        "message": "Olá 👋! Eu sou o assistente virtual.\nEscolha uma opção:\n1️⃣ - Agendar consulta\n2️⃣ - Tirar dúvidas\n3️⃣ - Cancelar agendamento\n4️⃣ - Reagendar consulta\n\nPara voltar a este menu durante o atendimento, basta enviar \"menu\".",
        "options": {}
      },
      "name": "Enviar Menu Inicial",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -624,
        464
      ],
      "id": "9961f25f-f6cb-4f1a-b77a-2d7f6efb1d77",
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [{json:{estado: $json.estado, telefone: $('Extrair Dados WhatsApp').item.json.telefone, mensagem: $('Extrair Dados WhatsApp').item.json.mensagem, to: $('Extrair Dados WhatsApp').item.json.to}}];"
      },
      "name": "Extrair Estado Atual",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -752,
        672
      ],
      "id": "c6d8fd1c-d5d9-450a-8323-3643af47309d"
    },
    {
      "parameters": {
        "from": "={{$json.to}}",
        "to": "={{$json.telefone}}",
        "message": "=Trabalhamos de segunda-feira à sexta-feira, das 08:00 às 18:00.\nPor favor, digite seu nome, data e horário que deseja reservar.",
        "options": {}
      },
      "name": "Pedir nome e data",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        176,
        -144
      ],
      "id": "d0a1320e-f71f-4278-9194-e7bb829e7c36",
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset estado = 'agendamento'\nwhere telefone = '{{ $('Extrair Estado Atual').item.json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        352,
        -144
      ],
      "id": "5ce66f12-95a4-47cd-95a6-3de7f9ffbddb",
      "name": "Mudar estado para agendamento",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mensagem }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "172934af-0ad5-4bfd-bdc7-b79ad0a7216b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "iniciar agendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1b96e06-7c04-4cfd-ae2d-9fdc3f0acf00",
                    "leftValue": "={{ $json.mensagem }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "iniciar agendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e97a6ee4-b2c5-4cf5-a2f1-7f1817646784",
                    "leftValue": "={{ $json.mensagem }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "enviar duvidas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "88aa86ed-d571-4ec6-8e7d-47d5759c33bf",
                    "leftValue": "={{ $json.mensagem }}",
                    "rightValue": "duvida",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "enviar duvidas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e10c0678-68bf-4094-9c12-af9894adab68",
                    "leftValue": "={{ $json.mensagem }}",
                    "rightValue": "dúvida",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "enviar duvidas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25431c5d-31ab-44d0-9f47-97c0f70271fb",
                    "leftValue": "={{ $json.mensagem }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "iniciar cancelamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13a65774-ece6-473a-8fea-732562dd9249",
                    "leftValue": "={{ $json.mensagem }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "iniciar cancelamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "33b91e79-19b4-47e9-b34f-2862cd95882e",
                    "leftValue": "={{ $json.mensagem }}",
                    "rightValue": "reagendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "iniciar reagendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d168af5-dd61-4786-8485-e73186a71c62",
                    "leftValue": "={{ $json.mensagem }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "iniciar reagendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9c2eb8c-e40e-41bb-a300-f9f41a71514c",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "default"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -288,
        160
      ],
      "id": "e85117c1-73a0-4c1a-8d1d-8c69ea038bb5",
      "name": "Sair menu"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "agendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ca8202e9-78ca-480a-9531-4739615a6ebd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ea02a078-c7e4-4961-bff8-2857949c8271",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "faq",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "faq"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1fada238-40d4-4ee2-b2ad-49ae7d7adf5c",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "cancelamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3a82e2a4-fd56-45e9-844d-3258d9a57d6f",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "reagendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reagendamento"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -48,
        1168
      ],
      "id": "8f0225c6-47fe-4e5c-881e-c49d5903e7c1",
      "name": "Opções estados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0e7bfae9-4d6f-4ab4-bc87-18ff5fedee51",
              "leftValue": "={{ $json.estado }}",
              "rightValue": "menu",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        672
      ],
      "id": "e2addea0-71e0-48e6-884d-bc3233005b23",
      "name": "If estado menu"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente de agendamento.\nTrabalhamos de segunda-feira à sexta-feira, das 08:00 às 18:00.\nHoje é {{ $now.toISO() }} (fuso horário de São Paulo).\n\nExtraia o nome da pessoa e a data/hora da mensagem abaixo. Caso não haja nome para extrair, deixe uma string vazia.\nA data deve ser convertida para o formato ISO 8601 (YYYY-MM-DDTHH:MM:SS-03:00).\n\nResponda SOMENTE com um JSON no formato:\n{\n  \"nome\": \"...\",\n  \"data\": \"...\",\n  \"dataOk\": \"...\"\n}\n\nA propriedade \"dataOk\" deve ser preenchida com valor booleano. 'true' se a data extraída estiver dentro do dia da semana e horário em que trabalhamos, e 'false' se estiver fora.\n\nMensagem: {{ $json[\"mensagem\"] }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        160,
        1152
      ],
      "id": "94193279-41cd-4bbb-bdde-0267e09a34ed",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        1312
      ],
      "id": "3c82a776-b4e6-413c-b347-21b78b762605",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset estado = \"menu\",\nwhere telefone = \"{{ $('Extrair Dados WhatsApp').item.json.telefone }}\";",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1984,
        848
      ],
      "id": "a0553e44-b4bc-4532-9c4b-5e487f33342a",
      "name": "retornar estado menu",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $('Extrair Dados WhatsApp').item.json.to }}",
        "to": "={{ $('Extrair Dados WhatsApp').item.json.telefone }}",
        "message": "Olá 👋! Eu sou o assistente virtual.\nEscolha uma opção:\n1️⃣ - Agendar consulta\n2️⃣ - Tirar dúvidas\n3️⃣ - Cancelar agendamento\n4️⃣ - Reagendar consulta\n\nPara voltar a este menu durante o atendimento, basta enviar \"menu\".",
        "options": {}
      },
      "name": "Enviar Menu Inicial1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        0,
        656
      ],
      "id": "6a4027ab-b258-4203-a8af-29cbaad62d60",
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "timeMin": "={{ $('Transformação de dadoss').item.json.data_google_calendar_start }}",
        "timeMax": "={{ $('Transformação de dadoss').item.json.data_google_calendar_end }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1024,
        1024
      ],
      "id": "1a098c4c-44dd-4704-a49e-737289c39aa3",
      "name": "Get availability in a calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $json.after }}",
        "timeMax": "={{ $json.before }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1792,
        1216
      ],
      "id": "b49dfd8b-7329-44f2-a2ea-3fb48ade53c1",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let originalDate = $('Transformação de dadoss').first().json.data_google_calendar_start;\n\nlet startOfDay = new Date(originalDate);\nconsole.log(startOfDay);\nstartOfDay.setUTCHours(0, 0, 0, 0);\n\nlet endOfDay = new Date(originalDate);\nendOfDay.setUTCDate(endOfDay.getUTCDate() + 1);\nendOfDay.setUTCHours(0, 0, 0, 0);\n\nreturn [\n  {\n    \"json\": {\n      \"after\" : startOfDay.toISOString(),\n      \"before\": endOfDay.toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        1216
      ],
      "id": "0c041b80-6dbd-4f0c-8bf7-648841ccd67b",
      "name": "Transformação de Dados"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Trigger evento criado').item.json.creator.email }}",
        "subject": "=Agendamento confirmado {{ $json.data }}",
        "emailType": "text",
        "message": "={{ $('Trigger evento criado').item.json.summary }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1088,
        1104
      ],
      "id": "3fc1d4d9-88a4-4b18-9752-e3d3fcba06e2",
      "name": "Send a message",
      "webhookId": "d5bb4bea-d29b-41f8-98a1-bd986651d69d",
      "credentials": {
        "gmailOAuth2": {
          "id": "d0mnV1TzVQ706o6A",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente de agendamento.\nEsses são os eventos já marcados no dia:\n\n{{ JSON.stringify($json[\"eventos\"], null, 2) }}\n\nCom base nesses eventos, indique horários alternativos ainda estão livres no mesmo dia (entre 08:00 e 18:00, no fuso horário de São Paulo). Como as consultas duram em média 1 hora, indique os horários livres que em dentro de 1 hora não haverá conflito com outros eventos.\nResponda apenas como se estivesse respondendo diretamente ao cliente (sem conter frases como \"Claro! Aqui está a resposta para o cliente\"), com uma frase simples explicando que o horário que ele pediu já se encontra agendado e informando quais intervalos de tempo estão disponíveis para agendamento, e também avise para o cliente enviar a próxima mensagem contendo a data e horário escolhido para agendamento. O nome do cliente é {{ $('Consultar nome').item.json.nome }}. A primeira palavra de sua resposta deve ser o nome do cliente caso for informado, se não, omita isso e continue com o restante da frase normalmente.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2144,
        1216
      ],
      "id": "b8dba269-8bb5-4ace-a6cb-033a7897ef54",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2144,
        1376
      ],
      "id": "bf4f4141-29c3-40b3-b53e-e30ccf7c8143",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $('Transformação de dadoss').first().json.telefone }}",
        "to": "={{ $('Transformação de dadoss').first().json.to }}",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2448,
        1216
      ],
      "id": "1d211ef9-e8d2-4ff9-a683-1f84e43a02c0",
      "name": "Horários alternativos",
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset estado = 'menu' , historico = null\nwhere telefone = '{{ $('Extrair Estado Atual').item.json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        128,
        912
      ],
      "id": "3ea062f2-f97c-4898-b384-1ef634e3a804",
      "name": "Retornar ao menu",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $('Extrair Dados WhatsApp').item.json.to }}",
        "to": "={{ $('Extrair Dados WhatsApp').item.json.telefone }}",
        "message": "Olá 👋! Eu sou o assistente virtual.\nEscolha uma opção:\n1️⃣ - Agendar consulta\n2️⃣ - Tirar dúvidas\n3️⃣ - Cancelar agendamento\n4️⃣ - Reagendar consulta\n\nPara voltar a este menu durante o atendimento, basta enviar \"menu\".",
        "options": {}
      },
      "name": "Enviar Menu Inicial2",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -48,
        912
      ],
      "id": "4da38c9e-86f3-472e-ad43-ef9f71538b75",
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08e37ee4-b4d4-4290-93e2-d1f7f9ec8d21",
              "leftValue": "={{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
              "rightValue": "menu",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        1040
      ],
      "id": "4fb99e4f-0aca-4830-b8fb-ec1d834a6bfe",
      "name": "If voltar menu"
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os eventos retornados\nconst eventos = $input.all().map(item => item.json);\nconsole.log(eventos)\n// Garante que o modelo receba uma lista limpa e simples\nconst listaEventos = eventos.map(e => ({\n  summary: e.summary,\n  start: e.start?.dateTime,\n  end: e.end?.dateTime\n}));\n\n// Retorna tudo como um único item JSON\nreturn [{\n  json: {\n    eventos: listaEventos\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        1216
      ],
      "id": "9ccb0434-537e-46a9-999c-8587c52f3ec2",
      "name": "Juntando em um elemento"
    },
    {
      "parameters": {
        "jsCode": "let output = $input.first().json.text || '';\noutput = output\n  .replace(/```json/i, '')\n  .replace(/```/g, '')\n  .trim();\nconst dados = JSON.parse(output);\n\nfunction capitalizeEachWord(sentence) {\n  return sentence.split(' ').map(word => {\n    if (word.length === 0) { // Handle empty strings if any\n      return '';\n    }\n    return word.charAt(0).toUpperCase() + word.slice(1);\n  }).join(' ');\n}\n\nconst dataInicial = new Date(dados.data).toISOString();\n\nlet dataFinal = new Date(dados.data);\ndataFinal.setHours(dataFinal.getHours() + 1);\n\n\nconst dataStart = new Date(dados.data);\nconst formatador = new Intl.DateTimeFormat('pt-BR', {\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  timeZone: 'America/Sao_Paulo'\n});\nconst dataFormatada = formatador.format(dataStart).replace(',', '');\n\nconst dataFormatadaMYSQL = new Date(dados.data).toISOString().replace('T', ' ').slice(0,19)\n\nreturn [{\n  json: {\n    nome: capitalizeEachWord(dados.nome) || $('Buscar Estado').first().json.nome,\n    dataOk: dados.dataOk,\n    data_google_calendar_start: dataInicial,\n    data_google_calendar_end: dataFinal.toISOString(),\n    data_a_exibir: dataFormatada,\n    data_mysql: dataFormatadaMYSQL,\n    telefone: $('Extrair Dados WhatsApp').first().json.to,\n    to: $('Extrair Dados WhatsApp').first().json.telefone\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        1152
      ],
      "id": "b656afdf-2ab0-402e-8298-262f8d5a92df",
      "name": "Transformação de dadoss"
    },
    {
      "parameters": {
        "from": "={{ $json.to }}",
        "to": "={{ $json.telefone }}",
        "message": "Ok! Me conte quais são suas dúvidas.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        176,
        16
      ],
      "id": "2dd5390a-9d3b-4feb-b4a9-bdadf9a7180d",
      "name": "Iniciar duvidas",
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset estado = \"faq\"\nwhere telefone = \"{{ $('Extrair Estado Atual').item.json.telefone }}\";",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        352,
        16
      ],
      "id": "ce6659ee-8364-41d5-8823-55e7f90207f5",
      "name": "Mudar estado para faq",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select historico\nfrom conversas\nwhere telefone = \"{{ $json.telefone }}\";",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        160,
        1536
      ],
      "id": "67367e07-4a3c-4ccf-a1be-f1b8fcf2db86",
      "name": "Buscar historico de conversas",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente virtual de atendimento no WhatsApp para um escritório de advocacia criminal.\nResponda de forma informativa às dúvidas do cliente ({{ $('Buscar Estado').item.json.nome }}). Não indique término da conversa nas suas respotas, deixe claro que caso houver mais dúvidas o cliente pode perguntar. Se já consta histórico da conversa no JSON, não precisa começar sua respota com cumprimento.\nUse o contexto da conversa abaixo para entender a pergunta atual.\n\nHistórico da conversa em JSON:\n{{ JSON.stringify($json[\"historico\"], null, 2) }}\n\nPergunta/mensagem mais recente:\n{{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        368,
        1536
      ],
      "id": "56de5bcd-cf8a-4f01-8931-0483e9826ae2",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        1712
      ],
      "id": "2e6caa40-4e39-4f5f-8297-4cc05d5f6a7c",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const historico = $('Buscar historico de conversas').first().json.historico ? $('Buscar historico de conversas').first().json.historico : [];\nhistorico.push({ 'role': 'user', 'content': $('Extrair Dados WhatsApp').first().json.mensagem }, { 'role': 'assistant', 'content': $input.first().json.text});\nreturn [\n  {\n    \"json\": {\n      \"historico\": JSON.stringify(historico)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        1536
      ],
      "id": "4b8b37f0-f107-4119-bff8-77cb29a29728",
      "name": "Adicionar msg ao historico"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $('Extrair Estado Atual').item.json.telefone }}",
        "valuesToSend": {
          "values": [
            {
              "column": "historico",
              "value": "={{ $json.historico }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        880,
        1536
      ],
      "id": "f34b9b88-7b1b-498b-96bd-0fee5cb1b998",
      "name": "Update rows in a table",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $('Extrair Estado Atual').item.json.to }}",
        "to": "={{ $('Extrair Estado Atual').item.json.telefone }}",
        "message": "={{ $('Basic LLM Chain2').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1088,
        1536
      ],
      "id": "bd3d7dea-998d-4e7e-a48a-979b52970348",
      "name": "Enviar msg da IA",
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $('Extrair Estado Atual').first().json.telefone }}",
        "valuesToSend": {
          "values": [
            {
              "column": "estado",
              "value": "cancelamento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1296,
        -64
      ],
      "id": "a6db0eac-8100-4ea8-a6de-2189a45dacba",
      "name": "Mudar estado para cancelamento",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if (Object.keys($input.item.json).length == 0) {\n  return {\"json\": {}}\n};\n\nconst dataISO = new Date($json.start.dateTime);\n\nreturn {\"json\": {\n  \"data\": dataISO.toLocaleString('pt-BR', {\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n  timeZone: 'America/Sao_Paulo'\n})\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        352
      ],
      "id": "a2798276-971d-4972-8dc7-c5ce0f290b47",
      "name": "Formatar data para envio"
    },
    {
      "parameters": {
        "from": "={{ $('Extrair Dados WhatsApp').item.json.to }}",
        "to": "={{ $('Extrair Dados WhatsApp').item.json.telefone }}",
        "message": "=Encontrei as seguintes datas marcadas para seu número {{ $('Extrair Dados WhatsApp').item.json.telefone.slice(9) }}:\n\n{{ $input.all().map((item, index) => `${index +1 } - ${item.json.data}`).join('\\n') }}\n\nQual data deseja cancelar?\nResponda com a enumeração da data.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1104,
        -64
      ],
      "id": "552d34a3-7c52-4a59-806d-c4a6f7c230b4",
      "name": "Enviar datas para cancelar",
      "executeOnce": true,
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ year: 1 }) }}",
        "options": {
          "query": "={{ $('Sair menu').item.json.telefone }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        352,
        352
      ],
      "id": "49b44129-f8ce-4b9b-8c73-683d95d7f712",
      "name": "Get many events1",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "e tbm adicionar opção de reagendar",
        "height": 240,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        2048
      ],
      "typeVersion": 1,
      "id": "05523615-476a-4512-a7c6-89d492bca41b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8722e0d2-372a-4a61-9526-1c731e09d90f",
              "leftValue": "={{ $('Transformação de dadoss').item.json.dataOk }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        1152
      ],
      "id": "2056586f-d3c0-471c-bc0a-ffefe72bf345",
      "name": "se data dentro horario de trabalho"
    },
    {
      "parameters": {
        "from": "={{ $('Extrair Estado Atual').item.json.to }}",
        "to": "={{ $('Extrair Estado Atual').item.json.telefone }}",
        "message": "=Desculpe {{ $json.nome }}, mas não trabalhamos neste horário que você escolheu.\nTrabalhamos de segunda-feira à sexta-feira, das 08:00 às 18:00.\nPor favor, envie uma nova mensagem com um horário válido.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1024,
        1264
      ],
      "id": "d64935a5-5060-4114-bfb0-f0685af88e8f",
      "name": "Enviar horarios validos",
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eabece7f-6ad2-4b07-a92e-d60743013a35",
              "leftValue": "={{ $json.available }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        1024
      ],
      "id": "b9357e92-bdff-42ab-aa1c-ef6547f897bf",
      "name": "Se disponivel"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset nome = '{{ $json.nome }}'\nwhere telefone = '{{ $('Extrair Dados WhatsApp').item.json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        640,
        1152
      ],
      "id": "e0311f85-2f62-4fde-a47e-f464bb793c0f",
      "name": "Update nome",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select nome\nfrom conversas\nwhere telefone = '{{ $('Extrair Dados WhatsApp').item.json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1408,
        1216
      ],
      "id": "3b39385d-b3b9-4aab-88ee-5f7ae3e624fb",
      "name": "Consultar nome",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into datas_agendadas (conversas_telefone, `data`, evento_id)\nvalues ('{{ $('Extrair Dados WhatsApp').item.json.telefone }}',\n  DATE_SUB('{{ $('Transformação de dadoss').item.json.data_mysql }}', INTERVAL 3 HOUR),\n  '{{ $('Criar Evento Google Calendar').item.json.id }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1792,
        848
      ],
      "id": "0d93c745-b360-4b02-8b3a-23506144f298",
      "name": "Insert into datas_agendadas",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $('Transformação de dadoss').first().json.telefone }}",
        "to": "={{ $('Transformação de dadoss').first().json.to }}",
        "message": "=✅ Agendamento confirmado!\n{{ $('Transformação de dadoss').first().json.nome }} em {{ $('Transformação de dadoss').first().json.data_a_exibir }}",
        "options": {}
      },
      "name": "Confirmar Agendamento",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1600,
        848
      ],
      "id": "c6ab7a8c-9025-47f6-bceb-040e132e7f65",
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc9bb3aa-5a10-4466-8f3b-e457df97e110",
              "leftValue": "={{ $input.item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        64
      ],
      "id": "bceba4c6-6997-47d9-a7d2-138d32e33d6d",
      "name": "If tem datas"
    },
    {
      "parameters": {
        "from": "={{ $('Extrair Estado Atual').item.json.to }}",
        "to": "={{ $('Extrair Estado Atual').item.json.telefone }}",
        "message": "=Não encontrei nenhuma data marcada para seu número {{ $('Extrair Estado Atual').item.json.telefone.split(9) }}.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1104,
        192
      ],
      "id": "ab1577cd-f267-4474-a563-7dc400f43104",
      "name": "Sem datas",
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ month: 1 }) }}",
        "options": {
          "query": "={{ $json.telefone }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        144,
        2048
      ],
      "id": "546299a4-5f83-4316-b57e-1633a748e00d",
      "name": "Get many events2",
      "alwaysOutputData": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "options": {
          "sendUpdates": "all"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        576,
        1920
      ],
      "id": "cf50e4e1-2033-4561-9f94-6c185f8e5095",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "datas_agendadas",
          "mode": "list",
          "cachedResultName": "datas_agendadas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "evento_id",
        "valueToMatchOn": "={{ $('Retorna id e formata msg').item.json.id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "status",
              "value": "cancelado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        768,
        1920
      ],
      "id": "fb4fffe5-a577-4fd9-8738-4ae0d50524da",
      "name": "Update datas_agendadas",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $('Extrair Dados WhatsApp').first().json.to }}",
        "to": "={{ $('Extrair Dados WhatsApp').first().json.telefone }}",
        "message": "=Sua consulta no dia {{ $('Retorna id e formata msg').item.json.dataMSG }} foi cancelada com sucesso.\n\nObrigado!",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        976,
        1920
      ],
      "id": "84176d24-2c8d-4977-9464-e944e8590b08",
      "name": "Cancelamento confirmado",
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset estado = 'menu'\nwhere telefone = '{{ $json.to }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1184,
        1920
      ],
      "id": "8c2aea58-656c-4637-a580-becbfa98c296",
      "name": "Update estado menu",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $('Opções estados').item.json.to }}",
        "to": "={{ $('Opções estados').item.json.telefone }}",
        "message": "Por favor, envie a numeração correta da data que deseja desmarcar.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        576,
        2160
      ],
      "id": "cc95a022-90a6-49b7-8b8c-db1a20a172d2",
      "name": "Enviar data correta",
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msgFormatada = $('Extrair Dados WhatsApp').first().json.mensagem.slice(0, 1);\n\nconst msgFormatadaInt = parseInt(msgFormatada);\n\nconst dataISO = new Date($input.all()[msgFormatadaInt - 1].json.start.dateTime);\n\nreturn [{json: {\n  id: $input.all()[msgFormatadaInt - 1].json.id,\n  dataMSG: dataISO.toLocaleString('pt-BR', {\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false,\n    timeZone: 'America/Sao_Paulo'})\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        2048
      ],
      "id": "30818d67-8c8c-4180-add1-e5d81f7bd58b",
      "name": "Retorna id e formata msg",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Trigger evento cancelado').item.json.creator.email }}",
        "subject": "=Agendamento cancelado {{ $json.data }}",
        "emailType": "text",
        "message": "={{ $('Trigger evento cancelado').item.json.summary }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1072,
        1296
      ],
      "id": "27bcb7f1-1e5e-45a9-8ef6-96348f65a913",
      "name": "Send a message1",
      "webhookId": "de654d40-b863-4c9f-b1f4-140f63e30056",
      "credentials": {
        "gmailOAuth2": {
          "id": "d0mnV1TzVQ706o6A",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dataISO = new Date($input.first().json.start.dateTime);\n\nreturn {\"json\": {\n  \"data\": dataISO.toLocaleString('pt-BR', {\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n  timeZone: 'America/Sao_Paulo'\n})\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        1296
      ],
      "id": "4b16cb0f-feaa-492b-845a-f5f1939b4ef0",
      "name": "Formatar data"
    },
    {
      "parameters": {
        "jsCode": "const dataISO = new Date($input.first().json.start.dateTime);\n\nreturn {\"json\": {\n  \"data\": dataISO.toLocaleString('pt-BR', {\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n  timeZone: 'America/Sao_Paulo'\n})\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        1104
      ],
      "id": "ed396717-30dd-4400-9f4b-082055e44c0b",
      "name": "Formatar data1"
    },
    {
      "parameters": {
        "content": "## Triggers adicionais",
        "height": 960,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        960
      ],
      "typeVersion": 1,
      "id": "ff3ce847-7c30-48d6-a68b-c55e35bf0140",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "triggerOn": "eventCreated",
        "options": {
          "matchTerm": "Consulta"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        1104
      ],
      "id": "bc03ff96-50fc-422a-a52e-b2d5bc3c4974",
      "name": "Trigger evento criado",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "triggerOn": "eventCancelled",
        "options": {
          "matchTerm": "Consulta"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        1296
      ],
      "id": "9246e11f-19dd-467a-a2d5-8272b73a87d0",
      "name": "Trigger evento cancelado",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1504
      ],
      "id": "f80ffb48-f1cd-48e2-9d4b-7bacf44be6b7",
      "name": "Lembrete 1 dia antes"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select c.nome, c.telefone, d.`data`\nfrom datas_agendadas as d\njoin conversas as c\non d.conversas_telefone = c.telefone\nwhere d.status = 'ativo'\n  and DATE(d.`data`) = DATE_ADD(CURRENT_DATE(), INTERVAL 1 DAY);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1280,
        1504
      ],
      "id": "7570918a-2be0-403a-8603-1d61b7e6cf57",
      "name": "Select datas agendadas amanha",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.all().map(item => ({json: {\n  nome: item.json.nome || 'cliente',\n  data: item.json.data.slice(11).slice(0, 5)\n}}));\n\nreturn dados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        1504
      ],
      "id": "2ef65faf-5333-4b2c-baa8-328d47c92554",
      "name": "Formatar os dados"
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "={{ $('Select datas agendadas amanha').item.json.telefone }}",
        "message": "=Olá {{ $json.nome }}! 👋\nLembrando que você tem um agendamento amanhã às {{ $json.data }}.\nSe precisar remarcar ou cancelar, é só me avisar por aqui.",
        "options": {
          "statusCallback": ""
        }
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -864,
        1504
      ],
      "id": "82b48da1-c579-4005-a5b7-96b0d5a9ec1f",
      "name": "Enviar aviso",
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1696
      ],
      "id": "ae7cddca-c917-4899-a178-dec53980544f",
      "name": "Lembrete no dia"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select c.nome, c.telefone, d.`data`\nfrom datas_agendadas as d\njoin conversas as c\non d.conversas_telefone = c.telefone\nwhere d.status = 'ativo'\n  and DATE(d.`data`) = CURRENT_DATE();",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1280,
        1696
      ],
      "id": "6046f4b0-1c50-474a-9a75-b7d386d1094d",
      "name": "Select datas agendadas hoje",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.all().map(item => ({json: {\n  nome: item.json.nome || 'cliente',\n  data: item.json.data.slice(11).slice(0, 5)\n}}));\n\nreturn dados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        1696
      ],
      "id": "d115e17a-f942-4618-8e95-9da1f2c604c1",
      "name": "Formatar os dados1"
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "={{ $('Select datas agendadas hoje').item.json.telefone }}",
        "message": "=Olá {{ $json.nome }}! 👋\nLembrando que você tem um agendamento hoje às {{ $json.data }}.\nSe precisar remarcar ou cancelar, é só me avisar por aqui.",
        "options": {
          "statusCallback": ""
        }
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -864,
        1696
      ],
      "id": "91f92e22-8c14-486a-a3f9-d2054318287c",
      "name": "Enviar aviso1",
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc9bb3aa-5a10-4466-8f3b-e457df97e110",
              "leftValue": "={{ $input.item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        672
      ],
      "id": "73a6f80a-3aab-4419-9b34-0dd423692831",
      "name": "If tem datas1"
    },
    {
      "parameters": {
        "from": "={{ $('Extrair Estado Atual').item.json.to }}",
        "to": "={{ $('Extrair Estado Atual').item.json.telefone }}",
        "message": "=Não encontrei nenhuma data marcada para seu número {{ $('Extrair Estado Atual').item.json.telefone.split(9) }}.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1088,
        784
      ],
      "id": "2e132d26-351d-43db-aa0e-5d182480b7c1",
      "name": "Sem datas1",
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{json:\n  {\n    outputIndex: $prevNode.outputIndex\n  }  \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        352
      ],
      "id": "5a57f2a2-c5f1-4783-9ae5-1b5b58419de9",
      "name": "Retorna output index"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "91903c41-3134-44c0-ac4b-ce8627618824",
              "leftValue": "={{ $('Retorna output index').item.json.outputIndex }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "7d9b02cd-aedc-435b-9075-79dd54713ef5",
              "leftValue": "={{ $('Retorna output index').item.json.outputIndex }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        352
      ],
      "id": "800dee10-b46d-4088-ba03-dfdb5cba5698",
      "name": "If cancelamento"
    },
    {
      "parameters": {
        "from": "={{ $('Extrair Dados WhatsApp').item.json.to }}",
        "to": "={{ $('Extrair Dados WhatsApp').item.json.telefone }}",
        "message": "=Encontrei as seguintes datas marcadas para seu número {{ $('Extrair Dados WhatsApp').item.json.telefone.slice(9) }}:\n\n{{ $input.all().map((item, index) => `${index +1 } - ${item.json.data}`).join('\\n') }}\n\nQual data deseja reagendar?\nResponda com a enumeração da data.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1088,
        512
      ],
      "id": "eb5bbee8-112a-49d8-aa86-2a8f860303f8",
      "name": "Enviar datas para reagendar",
      "executeOnce": true,
      "credentials": {
        "twilioApi": {
          "id": "ddFRhWOm3Qjlq0FB",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $('Extrair Estado Atual').first().json.telefone }}",
        "valuesToSend": {
          "values": [
            {
              "column": "estado",
              "value": "reagendamento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1280,
        512
      ],
      "id": "d831754b-a17f-4652-8e30-d691ad1f177b",
      "name": "Mudar estado para reagendamento",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook IN": {
      "main": [
        [
          {
            "node": "Extrair Dados WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados WhatsApp": {
      "main": [
        [
          {
            "node": "Buscar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Estado": {
      "main": [
        [
          {
            "node": "Usuário Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuário Existe?": {
      "main": [
        [
          {
            "node": "Criar Novo Usuário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrair Estado Atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Novo Usuário": {
      "main": [
        [
          {
            "node": "Enviar Menu Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Evento Google Calendar": {
      "main": [
        [
          {
            "node": "Confirmar Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Estado Atual": {
      "main": [
        [
          {
            "node": "If estado menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir nome e data": {
      "main": [
        [
          {
            "node": "Mudar estado para agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sair menu": {
      "main": [
        [
          {
            "node": "Pedir nome e data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir nome e data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Iniciar duvidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Iniciar duvidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Iniciar duvidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna output index",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna output index",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna output index",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna output index",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Menu Inicial1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opções estados": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar historico de conversas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many events2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If estado menu": {
      "main": [
        [
          {
            "node": "Sair menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If voltar menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Transformação de dadoss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar": {
      "main": [
        [
          {
            "node": "Se disponivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformação de Dados": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Juntando em um elemento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Horários alternativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Menu Inicial2": {
      "main": [
        [
          {
            "node": "Retornar ao menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If voltar menu": {
      "main": [
        [
          {
            "node": "Enviar Menu Inicial2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opções estados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntando em um elemento": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformação de dadoss": {
      "main": [
        [
          {
            "node": "Update nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iniciar duvidas": {
      "main": [
        [
          {
            "node": "Mudar estado para faq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar historico de conversas": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Adicionar msg ao historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar msg ao historico": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Enviar msg da IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar data para envio": {
      "main": [
        [
          {
            "node": "If cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar datas para cancelar": {
      "main": [
        [
          {
            "node": "Mudar estado para cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events1": {
      "main": [
        [
          {
            "node": "Formatar data para envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "se data dentro horario de trabalho": {
      "main": [
        [
          {
            "node": "Get availability in a calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar horarios validos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se disponivel": {
      "main": [
        [
          {
            "node": "Criar Evento Google Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultar nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update nome": {
      "main": [
        [
          {
            "node": "se data dentro horario de trabalho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar nome": {
      "main": [
        [
          {
            "node": "Transformação de Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into datas_agendadas": {
      "main": [
        [
          {
            "node": "retornar estado menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Agendamento": {
      "main": [
        [
          {
            "node": "Insert into datas_agendadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If tem datas": {
      "main": [
        [
          {
            "node": "Enviar datas para cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem datas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events2": {
      "main": [
        [
          {
            "node": "Retorna id e formata msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Update datas_agendadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update datas_agendadas": {
      "main": [
        [
          {
            "node": "Cancelamento confirmado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelamento confirmado": {
      "main": [
        [
          {
            "node": "Update estado menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna id e formata msg": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar data correta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar data": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar data1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger evento criado": {
      "main": [
        [
          {
            "node": "Formatar data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger evento cancelado": {
      "main": [
        [
          {
            "node": "Formatar data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 1 dia antes": {
      "main": [
        [
          {
            "node": "Select datas agendadas amanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select datas agendadas amanha": {
      "main": [
        [
          {
            "node": "Formatar os dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar os dados": {
      "main": [
        [
          {
            "node": "Enviar aviso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select datas agendadas hoje": {
      "main": [
        [
          {
            "node": "Formatar os dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete no dia": {
      "main": [
        [
          {
            "node": "Select datas agendadas hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar os dados1": {
      "main": [
        [
          {
            "node": "Enviar aviso1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If tem datas1": {
      "main": [
        [
          {
            "node": "Enviar datas para reagendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem datas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna output index": {
      "main": [
        [
          {
            "node": "Get many events1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If cancelamento": {
      "main": [
        [
          {
            "node": "If tem datas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If tem datas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar datas para reagendar": {
      "main": [
        [
          {
            "node": "Mudar estado para reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "98af8080-c843-4e4f-8875-b0ae97a3f908",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a5858773c819eef5c772c511bb8bf6c8d350f72a6984a156e8f3d5f5f2f96f8"
  },
  "id": "kU08RTujD2Jraxhz",
  "tags": []
}