Agendamento Completo com MySQL.json
{
  "name": "Agendamento Completo com MySQL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "name": "Webhook IN",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1616,
        720
      ],
      "webhookId": "whatsapp-webhook",
      "id": "8f3e6a43-9396-440c-a8e2-21729c054199"
    },
    {
      "parameters": {
        "functionCode": "return [{json: {\n  telefone: $json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"from\"],\n  mensagem: $json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"text\"][\"body\"].trim().toLowerCase()\n}}];"
      },
      "name": "Extrair Dados WhatsApp",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1424,
        720
      ],
      "id": "768dc22a-14d9-484d-b66d-e9a74e15f694"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from conversas\nwhere telefone = '{{ $json.telefone }}';"
      },
      "name": "Buscar Estado",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -1248,
        720
      ],
      "id": "fcfe0085-7ea5-4b3b-9d55-c6f171cc2f79",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "Usuário Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1088,
        720
      ],
      "id": "6cd9f360-6762-4be0-9558-c66857f9fd3f"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into conversas (telefone, estado)\nvalues ('{{ $('Extrair Dados WhatsApp').item.json.telefone }}', 'menu');"
      },
      "name": "Criar Novo Usuário",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -880,
        512
      ],
      "id": "395c14a6-dca9-4972-ac63-de322bfb5000",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "start": "={{ $('Transformação de dadoss').item.json.data_google_calendar_start }}",
        "end": "={{ $('Transformação de dadoss').item.json.data_google_calendar_end }}",
        "additionalFields": {
          "sendUpdates": "all",
          "summary": "=Consulta {{ $('Transformação de dadoss').item.json.nome }} {{ $('Transformação de dadoss').item.json.to }}"
        }
      },
      "name": "Criar Evento Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        3264,
        1056
      ],
      "id": "5c646a89-1a86-4821-a4dd-9a6b6b983941",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [{json:{estado: $json.estado, telefone: $('Extrair Dados WhatsApp').item.json.telefone, mensagem: $('Extrair Dados WhatsApp').item.json.mensagem, }}];"
      },
      "name": "Extrair Estado Atual",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -752,
        736
      ],
      "id": "c6d8fd1c-d5d9-450a-8323-3643af47309d"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset estado = 'agendamento'\nwhere telefone = '{{ $('Extrair Estado Atual').item.json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2448,
        -48
      ],
      "id": "5ce66f12-95a4-47cd-95a6-3de7f9ffbddb",
      "name": "Mudar estado para agendamento",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d168af5-dd61-4786-8485-e73186a71c62",
                    "leftValue": "={{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reagendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f4157dde-750e-4e1b-bc90-3bf02987d587",
                    "leftValue": "={{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
                    "rightValue": "remarca",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reagendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "33b91e79-19b4-47e9-b34f-2862cd95882e",
                    "leftValue": "={{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
                    "rightValue": "reagenda",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reagendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25431c5d-31ab-44d0-9f47-97c0f70271fb",
                    "leftValue": "={{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9c2eb8c-e40e-41bb-a300-f9f41a71514c",
                    "leftValue": "={{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
                    "rightValue": "desmarca",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13a65774-ece6-473a-8fea-732562dd9249",
                    "leftValue": "={{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
                    "rightValue": "cancela",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "172934af-0ad5-4bfd-bdc7-b79ad0a7216b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1b96e06-7c04-4cfd-ae2d-9fdc3f0acf00",
                    "leftValue": "={{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
                    "rightValue": "agenda",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dc754bf2-1286-4520-9994-bfeef9e2090b",
                    "leftValue": "={{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
                    "rightValue": "marca",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e97a6ee4-b2c5-4cf5-a2f1-7f1817646784",
                    "leftValue": "={{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "duvidas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a837b5c4-db1c-4e28-89ab-6102cfd756cf",
                    "leftValue": "={{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
                    "rightValue": "pergunta",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "duvidas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "88aa86ed-d571-4ec6-8e7d-47d5759c33bf",
                    "leftValue": "={{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
                    "rightValue": "duvida",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "duvidas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e10c0678-68bf-4094-9c12-af9894adab68",
                    "leftValue": "={{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
                    "rightValue": "dúvida",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "duvidas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ab46081a-f4d4-4914-a5cf-b0cb6784a86f",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "default"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1440,
        -64
      ],
      "id": "e85117c1-73a0-4c1a-8d1d-8c69ea038bb5",
      "name": "Sair menu"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8abffed4-ff2b-4c13-8dce-b2cbad7c3e1b",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "agendamento2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamento2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "agendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ca8202e9-78ca-480a-9531-4739615a6ebd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d3f533ac-754c-4eda-a7ab-38e610b9c4be",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "reagendamento2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reagendamento2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ea02a078-c7e4-4961-bff8-2857949c8271",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "faq",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "faq"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1fada238-40d4-4ee2-b2ad-49ae7d7adf5c",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "cancelamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3a82e2a4-fd56-45e9-844d-3258d9a57d6f",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "reagendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reagendamento"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -48,
        1184
      ],
      "id": "8f0225c6-47fe-4e5c-881e-c49d5903e7c1",
      "name": "Opções estados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0e7bfae9-4d6f-4ab4-bc87-18ff5fedee51",
              "leftValue": "={{ $json.estado }}",
              "rightValue": "menu",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        736
      ],
      "id": "e2addea0-71e0-48e6-884d-bc3233005b23",
      "name": "If estado menu"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente de agendamento.\nTrabalhamos de segunda-feira à sexta-feira, das 08:00 às 18:00.\nHoje é {{ $now.toISO() }} (fuso horário de São Paulo).\n\nExtraia o nome da pessoa e a data/hora da mensagem abaixo. Caso não haja nome para extrair, deixe uma string vazia.\nA data deve ser convertida para o formato ISO 8601 (YYYY-MM-DDTHH:MM:SS-03:00).\n\nResponda SOMENTE com um JSON no formato:\n{\n  \"nome\": \"...\",\n  \"data\": \"...\",\n  \"dataOk\": \"...\"\n}\n\nA propriedade \"dataOk\" deve ser preenchida com valor booleano. 'true' se a data extraída estiver dentro do dia da semana e horário em que trabalhamos, e 'false' se estiver fora. Caso nâo consiga extrair data E hora, preencha \"dataOk\" com 'false' (se conseguir extrair apenas um dos dois, \"dataOk\" ainda deve ser 'false'). Se a data extraída for no passado ou em um feriado (estamos localizados em Limeira, SP - Brasil), preencha \"dataOk\" com 'false'.\n\nMensagem: {{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1408,
        1520
      ],
      "id": "94193279-41cd-4bbb-bdde-0267e09a34ed",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1408,
        1680
      ],
      "id": "3c82a776-b4e6-413c-b347-21b78b762605",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "timeMin": "={{ $('Transformação de dadoss').item.json.data_google_calendar_start }}",
        "timeMax": "={{ $('Transformação de dadoss').item.json.data_google_calendar_end }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2272,
        1392
      ],
      "id": "1a098c4c-44dd-4704-a49e-737289c39aa3",
      "name": "Get availability in a calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $json.after }}",
        "timeMax": "={{ $json.before }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        3376,
        1920
      ],
      "id": "b49dfd8b-7329-44f2-a2ea-3fb48ade53c1",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let originalDate = $('Transformação de dadoss').first().json.data_google_calendar_start;\n\nlet startOfDay = new Date(originalDate);\nconsole.log(startOfDay);\nstartOfDay.setUTCHours(0, 0, 0, 0);\n\nlet endOfDay = new Date(originalDate);\nendOfDay.setUTCDate(endOfDay.getUTCDate() + 1);\nendOfDay.setUTCHours(0, 0, 0, 0);\n\nreturn [\n  {\n    \"json\": {\n      \"after\" : startOfDay.toISOString(),\n      \"before\": endOfDay.toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        1920
      ],
      "id": "0c041b80-6dbd-4f0c-8bf7-648841ccd67b",
      "name": "Transformação de Dados"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Trigger evento criado').item.json.creator.email }}",
        "subject": "=Agendamento confirmado {{ $json.data }}",
        "emailType": "text",
        "message": "={{ $('Trigger evento criado').item.json.summary }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1088,
        1104
      ],
      "id": "3fc1d4d9-88a4-4b18-9752-e3d3fcba06e2",
      "name": "Send a message",
      "webhookId": "d5bb4bea-d29b-41f8-98a1-bd986651d69d",
      "credentials": {
        "gmailOAuth2": {
          "id": "d0mnV1TzVQ706o6A",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente de agendamento. Hoje é {{ $now }}.\nEsses são os eventos já marcados no dia ({{ $('Transformação de dadoss').first().json.data_google_calendar_start }}):\n\n{{ JSON.stringify($json[\"eventos\"], null, 2) }}\n\nCom base nesses eventos, indique horários alternativos que ainda estão livres no mesmo dia (entre 08:00 e 18:00, no fuso horário de São Paulo). Como as consultas duram em média 1 hora, indique os horários livres que em dentro de 1 hora não haverá conflito com outros eventos. Caso o dia em questão seja hoje mesmo, não indique horários no passado.\nResponda apenas como se estivesse respondendo diretamente ao cliente (sem conter frases como \"Claro! Aqui está a resposta para o cliente\"), com uma frase simples explicando que o horário que ele pediu já se encontra agendado e informando quais intervalos de tempo estão disponíveis para agendamento, e também avise para o cliente enviar a próxima mensagem contendo a data e horário escolhido para agendamento. O nome do cliente é {{ $('Consultar nome').first().json.nome }}. A primeira palavra de sua resposta deve ser o nome do cliente caso for informado, se não, omita isso e continue com o restante da frase normalmente.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3728,
        1920
      ],
      "id": "b8dba269-8bb5-4ace-a6cb-033a7897ef54",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3728,
        2080
      ],
      "id": "bf4f4141-29c3-40b3-b53e-e30ccf7c8143",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08e37ee4-b4d4-4290-93e2-d1f7f9ec8d21",
              "leftValue": "={{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
              "rightValue": "menu",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        1040
      ],
      "id": "4fb99e4f-0aca-4830-b8fb-ec1d834a6bfe",
      "name": "If voltar menu"
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os eventos retornados\nconst eventos = $input.all().map(item => item.json);\n\n// Garante que o modelo receba uma lista limpa e simples\nconst listaEventos = eventos.map(e => ({\n  summary: e.summary,\n  start: e.start?.dateTime,\n  end: e.end?.dateTime\n}));\n\n// Retorna tudo como um único item JSON\nreturn [{\n  json: {\n    eventos: listaEventos\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        1920
      ],
      "id": "9ccb0434-537e-46a9-999c-8587c52f3ec2",
      "name": "Juntando em um elemento"
    },
    {
      "parameters": {
        "jsCode": "let output = $input.first().json.text || '';\noutput = output\n  .replace(/```json/i, '')\n  .replace(/```/g, '')\n  .trim();\nconst dados = JSON.parse(output);\n\nfunction capitalizeEachWord(sentence) {\n  return sentence.split(' ').map(word => {\n    if (word.length === 0) { // Handle empty strings if any\n      return '';\n    }\n    return word.charAt(0).toUpperCase() + word.slice(1);\n  }).join(' ');\n}\ntry {\n  const dataInicial = new Date(dados.data).toISOString();\n    \n  let dataFinal = new Date(dados.data);\n  dataFinal.setHours(dataFinal.getHours() + 1);\n  \n  \n  const dataStart = new Date(dados.data);\n  const formatador = new Intl.DateTimeFormat('pt-BR', {\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    timeZone: 'America/Sao_Paulo'\n  });\n  const dataFormatada = formatador.format(dataStart).replace(',', '');\n  \n  const dataFormatadaMYSQL = new Date(dados.data).toISOString().replace('T', ' ').slice(0,19)\n  \n  return [{\n    json: {\n      nome: capitalizeEachWord(dados.nome) || $('Buscar Estado').first().json.nome,\n      dataOk: dados.dataOk,\n      data_google_calendar_start: dataInicial,\n      data_google_calendar_end: dataFinal.toISOString(),\n      data_a_exibir: dataFormatada,\n      data_mysql: dataFormatadaMYSQL,\n      telefone: $('Extrair Dados WhatsApp').first().json.to,\n      to: $('Extrair Dados WhatsApp').first().json.telefone\n    }\n  }];\n} catch (error) {\n  return [{json: {\n    dataOk: false,\n    nome: capitalizeEachWord(dados.nome) || $('Buscar Estado').first().json.nome,\n    telefone: $('Extrair Dados WhatsApp').first().json.to,\n    to: $('Extrair Dados WhatsApp').first().json.telefone\n  }}];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        1520
      ],
      "id": "b656afdf-2ab0-402e-8298-262f8d5a92df",
      "name": "Transformação de dadoss",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset estado = \"faq\"\nwhere telefone = \"{{ $('Extrair Estado Atual').item.json.telefone }}\";",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2448,
        128
      ],
      "id": "ce6659ee-8364-41d5-8823-55e7f90207f5",
      "name": "Mudar estado para faq",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select historico\nfrom conversas\nwhere telefone = \"{{ $json.telefone }}\";",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        784,
        1904
      ],
      "id": "67367e07-4a3c-4ccf-a1be-f1b8fcf2db86",
      "name": "Buscar historico de conversas",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente virtual de atendimento no WhatsApp para um escritório de advocacia criminal localizado em Limeira - SP, Brasil. Hoje é {{ $now }}\nResponda de forma informativa às dúvidas do cliente ({{ $('Buscar Estado').item.json.nome }}). Não indique término da conversa nas suas respotas, deixe claro que caso houver mais dúvidas o cliente pode perguntar. Se já consta histórico da conversa no JSON, não precisa começar sua respota com cumprimento.\nUse o contexto da conversa abaixo para entender a pergunta atual.\n\nHistórico da conversa em JSON:\n{{ JSON.stringify($json[\"historico\"], null, 2) }}\n\nPergunta/mensagem mais recente:\n{{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        992,
        1904
      ],
      "id": "56de5bcd-cf8a-4f01-8931-0483e9826ae2",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        992,
        2080
      ],
      "id": "2e6caa40-4e39-4f5f-8297-4cc05d5f6a7c",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const historico = $('Buscar historico de conversas').first().json.historico ? $('Buscar historico de conversas').first().json.historico : [];\nhistorico.push({ 'role': 'user', 'content': $('Extrair Dados WhatsApp').first().json.mensagem }, { 'role': 'assistant', 'content': $input.first().json.text});\nreturn [\n  {\n    \"json\": {\n      \"historico\": JSON.stringify(historico)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        1904
      ],
      "id": "4b8b37f0-f107-4119-bff8-77cb29a29728",
      "name": "Adicionar msg ao historico"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $('Extrair Estado Atual').first().json.telefone }}",
        "valuesToSend": {
          "values": [
            {
              "column": "estado",
              "value": "cancelamento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        3312,
        -592
      ],
      "id": "a6db0eac-8100-4ea8-a6de-2189a45dacba",
      "name": "Mudar estado para cancelamento",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if (Object.keys($input.item.json).length == 0) {\n  return {\"json\": {}}\n};\n\nconst dataISO = new Date($json.start.dateTime);\n\nreturn {\"json\": {\n  \"data\": dataISO.toLocaleString('pt-BR', {\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n  timeZone: 'America/Sao_Paulo'\n})\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        -368
      ],
      "id": "a2798276-971d-4972-8dc7-c5ce0f290b47",
      "name": "Formatar data para envio"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ year: 2 }) }}",
        "options": {
          "query": "={{ $('Extrair Dados WhatsApp').item.json.telefone }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2320,
        -368
      ],
      "id": "49b44129-f8ce-4b9b-8c73-683d95d7f712",
      "name": "Get many events1",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8722e0d2-372a-4a61-9526-1c731e09d90f",
              "leftValue": "={{ $('Transformação de dadoss').item.json.dataOk }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2064,
        1520
      ],
      "id": "2056586f-d3c0-471c-bc0a-ffefe72bf345",
      "name": "se data dentro horario de trabalho"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eabece7f-6ad2-4b07-a92e-d60743013a35",
              "leftValue": "={{ $json.available }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2448,
        1392
      ],
      "id": "b9357e92-bdff-42ab-aa1c-ef6547f897bf",
      "name": "Se disponivel"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset nome = '{{ $json.nome ? `${$json.nome}` : ''}}'\nwhere telefone = '{{ $('Extrair Dados WhatsApp').item.json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1888,
        1520
      ],
      "id": "e0311f85-2f62-4fde-a47e-f464bb793c0f",
      "name": "Update nome",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select nome\nfrom conversas\nwhere telefone = '{{ $('Extrair Dados WhatsApp').item.json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2992,
        1920
      ],
      "id": "3b39385d-b3b9-4aab-88ee-5f7ae3e624fb",
      "name": "Consultar nome",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into datas_agendadas (conversas_telefone, `data`, evento_id)\nvalues ('{{ $('Extrair Dados WhatsApp').item.json.telefone }}',\n  DATE_SUB('{{ $('Transformação de dadoss').item.json.data_mysql }}', INTERVAL 3 HOUR),\n  '{{ $('Criar Evento Google Calendar').item.json.id }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        3648,
        1056
      ],
      "id": "0d93c745-b360-4b02-8b3a-23506144f298",
      "name": "Insert into datas_agendadas",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc9bb3aa-5a10-4466-8f3b-e457df97e110",
              "leftValue": "={{ $input.item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2720,
        -368
      ],
      "id": "bceba4c6-6997-47d9-a7d2-138d32e33d6d",
      "name": "If tem datas"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ year: 2 }) }}",
        "options": {
          "query": "={{ $json.telefone }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        784,
        2432
      ],
      "id": "546299a4-5f83-4316-b57e-1633a748e00d",
      "name": "Get many events2",
      "alwaysOutputData": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "options": {
          "sendUpdates": "all"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1216,
        2304
      ],
      "id": "cf50e4e1-2033-4561-9f94-6c185f8e5095",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "datas_agendadas",
          "mode": "list",
          "cachedResultName": "datas_agendadas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "evento_id",
        "valueToMatchOn": "={{ $('Retorna id e formata msg').item.json.id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "status",
              "value": "cancelado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1408,
        2304
      ],
      "id": "fb4fffe5-a577-4fd9-8738-4ae0d50524da",
      "name": "Update datas_agendadas",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset estado = 'menu'\nwhere telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1824,
        2304
      ],
      "id": "8c2aea58-656c-4637-a580-becbfa98c296",
      "name": "Update estado menu",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msgFormatada = $('Extrair Dados WhatsApp').first().json.mensagem.slice(0, 1);\n\nconst msgFormatadaInt = parseInt(msgFormatada);\n\nconst dataISO = new Date($input.all()[msgFormatadaInt - 1].json.start.dateTime);\n\nreturn [{json: {\n  id: $input.all()[msgFormatadaInt - 1].json.id,\n  dataMSG: dataISO.toLocaleString('pt-BR', {\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false,\n    timeZone: 'America/Sao_Paulo'}).replace(',', '')\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        2432
      ],
      "id": "30818d67-8c8c-4180-add1-e5d81f7bd58b",
      "name": "Retorna id e formata msg",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Trigger evento cancelado').item.json.creator.email }}",
        "subject": "=Agendamento cancelado {{ $json.data }}",
        "emailType": "text",
        "message": "={{ $('Trigger evento cancelado').item.json.summary }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1072,
        1296
      ],
      "id": "27bcb7f1-1e5e-45a9-8ef6-96348f65a913",
      "name": "Send a message1",
      "webhookId": "de654d40-b863-4c9f-b1f4-140f63e30056",
      "credentials": {
        "gmailOAuth2": {
          "id": "d0mnV1TzVQ706o6A",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dataISO = new Date($input.first().json.start.dateTime);\n\nreturn {\"json\": {\n  \"data\": dataISO.toLocaleString('pt-BR', {\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n  timeZone: 'America/Sao_Paulo'\n}).replace(',', '')\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        1296
      ],
      "id": "4b16cb0f-feaa-492b-845a-f5f1939b4ef0",
      "name": "Formatar data"
    },
    {
      "parameters": {
        "jsCode": "const dataISO = new Date($input.first().json.start.dateTime);\n\nreturn {\"json\": {\n  \"data\": dataISO.toLocaleString('pt-BR', {\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n  timeZone: 'America/Sao_Paulo'\n}).replace(',', '')\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        1104
      ],
      "id": "ed396717-30dd-4400-9f4b-082055e44c0b",
      "name": "Formatar data1"
    },
    {
      "parameters": {
        "content": "## Triggers adicionais",
        "height": 1232,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        960
      ],
      "typeVersion": 1,
      "id": "ff3ce847-7c30-48d6-a68b-c55e35bf0140",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "triggerOn": "eventCreated",
        "options": {
          "matchTerm": "Consulta"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        1104
      ],
      "id": "bc03ff96-50fc-422a-a52e-b2d5bc3c4974",
      "name": "Trigger evento criado",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "triggerOn": "eventCancelled",
        "options": {
          "matchTerm": "Consulta"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        1296
      ],
      "id": "9246e11f-19dd-467a-a2d5-8272b73a87d0",
      "name": "Trigger evento cancelado",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 54
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1744
      ],
      "id": "f80ffb48-f1cd-48e2-9d4b-7bacf44be6b7",
      "name": "Lembrete 1 dia antes"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select c.nome, c.telefone, d.`data`\nfrom datas_agendadas as d\njoin conversas as c\non d.conversas_telefone = c.telefone\nwhere d.status = 'ativo'\n  and DATE(d.`data`) = DATE_ADD(CURRENT_DATE(), INTERVAL 1 DAY);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1280,
        1744
      ],
      "id": "7570918a-2be0-403a-8603-1d61b7e6cf57",
      "name": "Select datas agendadas amanha",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.all().map(item => ({json: {\n  nome: item.json.nome || 'cliente',\n  data: item.json.data.slice(11).slice(0, 5),\n  telefone: item.json.telefone\n}}));\n\nreturn dados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        1744
      ],
      "id": "2ef65faf-5333-4b2c-baa8-328d47c92554",
      "name": "Formatar os dados"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 54
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1984
      ],
      "id": "ae7cddca-c917-4899-a178-dec53980544f",
      "name": "Lembrete no dia"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select c.nome, c.telefone, d.`data`\nfrom datas_agendadas as d\njoin conversas as c\non d.conversas_telefone = c.telefone\nwhere d.status = 'ativo'\n  and DATE(d.`data`) = CURRENT_DATE();",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1280,
        1984
      ],
      "id": "6046f4b0-1c50-474a-9a75-b7d386d1094d",
      "name": "Select datas agendadas hoje",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.all().map(item => ({json: {\n  nome: item.json.nome || 'cliente',\n  data: item.json.data.slice(11).slice(0, 5),\n  telefone: item.json.telefone\n}}));\n\nreturn dados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        1984
      ],
      "id": "d115e17a-f942-4618-8e95-9da1f2c604c1",
      "name": "Formatar os dados1"
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{json:\n  {\n    outputIndex: $prevNode.outputIndex\n  }  \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        -368
      ],
      "id": "5a57f2a2-c5f1-4783-9ae5-1b5b58419de9",
      "name": "Retorna output index"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "91903c41-3134-44c0-ac4b-ce8627618824",
              "leftValue": "={{ $('Retorna output index').item.json.outputIndex }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "7d9b02cd-aedc-435b-9075-79dd54713ef5",
              "leftValue": "={{ $('Retorna output index').item.json.outputIndex }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "6b8a9d39-747c-47ac-bda4-065b464a3f90",
              "leftValue": "={{ $('Retorna output index').item.json.outputIndex }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2912,
        -480
      ],
      "id": "800dee10-b46d-4088-ba03-dfdb5cba5698",
      "name": "If cancelamento"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $('Extrair Estado Atual').first().json.telefone }}",
        "valuesToSend": {
          "values": [
            {
              "column": "estado",
              "value": "reagendamento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        3312,
        -384
      ],
      "id": "d831754b-a17f-4652-8e30-d691ad1f177b",
      "name": "Mudar estado para reagendamento",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ year: 2 }) }}",
        "options": {
          "query": "={{ $json.telefone }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        784,
        2944
      ],
      "id": "43ff5a87-2156-4670-8b93-90b1fe14ad61",
      "name": "Get many events3",
      "alwaysOutputData": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msgFormatada = $('Extrair Dados WhatsApp').first().json.mensagem.slice(0, 1);\n\nconst msgFormatadaInt = parseInt(msgFormatada);\n\nconst dataISO = new Date($input.all()[msgFormatadaInt - 1].json.start.dateTime);\n\nreturn [{json: {\n  id: {\n    id: $input.all()[msgFormatadaInt - 1].json.id},\n  dataMSG: dataISO.toLocaleString('pt-BR', {\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false,\n    timeZone: 'America/Sao_Paulo'}).replace(',', '')\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        2944
      ],
      "id": "1980e164-ff09-4c22-87f6-06394e2aa261",
      "name": "Retorna id e formata msg1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset estado = 'menu' , historico = null\nwhere telefone = '{{ $('Extrair Estado Atual').item.json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        128,
        912
      ],
      "id": "3ea062f2-f97c-4898-b384-1ef634e3a804",
      "name": "Update estado e historico",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $('Extrair Estado Atual').first().json.telefone }}",
        "valuesToSend": {
          "values": [
            {
              "column": "historico",
              "value": "={{ JSON.stringify($json.id) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1184,
        2800
      ],
      "id": "fb634a41-63ea-40a0-ad87-604a584abd32",
      "name": "Update historico",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset estado = 'reagendamento2'\nwhere telefone = '{{ $('Extrair Estado Atual').first().json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1552,
        2800
      ],
      "id": "515628fb-74a4-4c7d-9648-a75bf5164d66",
      "name": "Update estado",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69cade6c-47f1-45ac-90e0-24443683e3aa",
              "leftValue": "={{ $('Select estado').item.json.estado }}",
              "rightValue": "agendamento",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "29cd8750-ff18-4e03-a83b-0fecc7659310",
              "leftValue": "={{ $('Select estado').item.json.estado }}",
              "rightValue": "agendamento2",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3056,
        1168
      ],
      "id": "31289759-825c-47b7-b5b8-224583b4dcd0",
      "name": "If estado agendamento"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "eventId": "={{ $('Buscar Estado').item.json.historico.id }}",
        "updateFields": {
          "end": "={{ $('Transformação de dadoss').item.json.data_google_calendar_end }}",
          "start": "={{ $('Transformação de dadoss').item.json.data_google_calendar_start }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        3264,
        1280
      ],
      "id": "7846c91c-d017-4486-8796-d2d3c3dcc66c",
      "name": "Update an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset estado = 'menu', historico = null\nwhere telefone = '{{ $('Extrair Estado Atual').item.json.telefone }}';\n\nupdate datas_agendadas\nset status = 'cancelado'\nwhere evento_id = '{{ $('Buscar Estado').item.json.historico.id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        3648,
        1280
      ],
      "id": "647b4e8d-4453-4cbb-b5b8-35bcdaeab6be",
      "name": "Update estado historico status",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into datas_agendadas (conversas_telefone, `data`, evento_id)\nvalues ('{{ $('Extrair Dados WhatsApp').item.json.telefone }}',\n  DATE_SUB('{{ $('Transformação de dadoss').item.json.data_mysql }}', INTERVAL 3 HOUR),\n  '{{ $('Buscar Estado').item.json.historico.id }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        3840,
        1280
      ],
      "id": "6d94d86d-040c-4f5a-9887-67b75bca5a8d",
      "name": "Insert into datas_agendadas1",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Trigger evento atualizado').first().json.creator.email }}",
        "subject": "=Agendamento remarcado de {{ $json.dataAnterior }} para {{ $json.dataAtual }}",
        "emailType": "text",
        "message": "={{ $('Trigger evento atualizado').first().json.summary }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -864,
        1520
      ],
      "id": "f9428b0f-ba2f-4634-ae20-e3d81b5bf60d",
      "name": "Send a message2",
      "webhookId": "de654d40-b863-4c9f-b1f4-140f63e30056",
      "credentials": {
        "gmailOAuth2": {
          "id": "d0mnV1TzVQ706o6A",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "triggerOn": "eventUpdated",
        "options": {
          "matchTerm": "Consulta"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        1520
      ],
      "id": "ecd79ab4-cfe5-4eb1-b193-25bbe58070a9",
      "name": "Trigger evento atualizado",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select *\nfrom datas_agendadas\nwhere evento_id = '{{ $json.id }}'\n  and status = 'cancelado'\norder by id;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1280,
        1520
      ],
      "id": "67efc35f-d2a5-4898-a123-650a7beab3c6",
      "name": "Select datas canceladas",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dataISO = new Date($('Trigger evento atualizado').first().json.start.dateTime);\n\nconst dataSql = new Date($('Select datas canceladas').all().at(-1).json.data);\n\nconst formatador = new Intl.DateTimeFormat('pt-BR', {year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false});\n\nconst dataAntiga = formatador.format(dataSql);\n\nreturn {\"json\": {\n  \"dataAtual\": dataISO.toLocaleString('pt-BR', {\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false,\n    timeZone: 'America/Sao_Paulo'\n  }).replace(',', ''),\n  \"dataAnterior\": dataAntiga.replace(',', '')\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        1520
      ],
      "id": "b8c881d1-5cd8-4044-8192-9ef4a67a1aac",
      "name": "Formatar datas"
    },
    {
      "parameters": {
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1568,
        -32
      ],
      "id": "9ad98754-bc6b-46f9-a710-646e379cf8b7",
      "name": "Webhook",
      "webhookId": "704e4820-5efa-4e3a-8d8b-abbecd232b1f"
    },
    {
      "parameters": {
        "jsCode": "const query = $json[\"query\"];\nconst verify_token = \"meu_token_webhook\"; // o mesmo token que você colocou na Meta\n\nif (query[\"hub.mode\"] === \"subscribe\" && query[\"hub.verify_token\"] === verify_token) {\n  return [{\n    json: {\n      challenge: query[\"hub.challenge\"]\n    }\n  }];\n} else {\n  return [{\n    json: {\n      error: \"Token inválido\"\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        -32
      ],
      "id": "bb234c37-bcfc-4a23-905d-82d52096fc24",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1152,
        -32
      ],
      "id": "b50184b5-de8e-423f-b8ef-f70d4fa506a2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Configurar webhook no developers.facebook.com",
        "height": 272,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        -112
      ],
      "typeVersion": 1,
      "id": "b4f0f33c-ea40-4931-8507-5eb69a698e2b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').item.json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\nOlá 👋! Eu sou o assistente virtual.\nEscolha uma opção:\n1️⃣ - Agendar consulta\n2️⃣ - Tirar dúvidas\n3️⃣ - Cancelar agendamento\n4️⃣ - Reagendar consulta\n\nPara voltar a este menu durante o atendimento, basta enviar \"menu\".\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        368
      ],
      "id": "c2f2d7f0-11a4-4780-906d-2c1aa77da5c3",
      "name": "Enviar menu"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Dados WhatsApp').item.json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\nOlá 👋! Eu sou o assistente virtual.\nEscolha uma opção:\n1️⃣ - Agendar consulta\n2️⃣ - Tirar dúvidas\n3️⃣ - Cancelar agendamento\n4️⃣ - Reagendar consulta\n\nPara voltar a este menu durante o atendimento, basta enviar \"menu\".\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        512
      ],
      "id": "bc55ac8d-efb7-4ecc-80fd-4e607b3fe42b",
      "name": "Enviar menu1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Dados WhatsApp').item.json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\nTrabalhamos de segunda-feira à sexta-feira, das 08:00 às 18:00.\nPor favor, digite seu nome, data e horário que deseja reservar.\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        -48
      ],
      "id": "d6efdaa1-70a5-433f-bc15-c55d5e15b374",
      "name": "Pedir nome e data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\nOlá 👋! Eu sou o assistente virtual.\nEscolha uma opção:\n1️⃣ - Agendar consulta\n2️⃣ - Tirar dúvidas\n3️⃣ - Cancelar agendamento\n4️⃣ - Reagendar consulta\n\nPara voltar a este menu durante o atendimento, basta enviar \"menu\".\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        912
      ],
      "id": "66af8cd4-cce9-4002-924d-28b29de4abc7",
      "name": "Enviar menu2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').item.json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\nDesculpe${$('Transformação de dadoss').item.json.nome ? `${$('Transformação de dadoss').item.json.nome},` : ','} mas não trabalhamos nesta data/horário que você escolheu.\nTrabalhamos de segunda-feira à sexta-feira, das 08:00 às 18:00.\nPor favor, envie uma nova mensagem com data e horário válidos.\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        1664
      ],
      "id": "7882a05e-a9bb-455f-8315-2b5bf9728ab7",
      "name": "Solicitar nova data e hora"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Dados WhatsApp').item.json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\n✅ Agendamento confirmado!\n${$('Transformação de dadoss').item.json.nome\n?\n`${$('Transformação de dadoss').first().json.nome} para ${$('Transformação de dadoss').first().json.data_a_exibir}`\n:\n`Para ${$('Transformação de dadoss').first().json.data_a_exibir}`}\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3456,
        1056
      ],
      "id": "d5bd9729-8017-418c-86db-e604fd959a0e",
      "name": "Confirmar agendamento"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $('Extrair Dados WhatsApp').item.json.telefone }}",
        "valuesToSend": {
          "values": [
            {
              "column": "estado",
              "value": "menu"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        3824,
        1056
      ],
      "id": "7132479d-5f9e-4e87-b091-d67e84cd19da",
      "name": "Update estado1",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').first().json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n$json.text\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4032,
        1920
      ],
      "id": "6fcc0afc-c051-43d1-b818-5a3d6ad1a129",
      "name": "Horarios alternativos"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $('Extrair Estado Atual').item.json.telefone }}",
        "valuesToSend": {
          "values": [
            {
              "column": "historico",
              "value": "={{ $json.historico }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1488,
        1904
      ],
      "id": "f34b9b88-7b1b-498b-96bd-0fee5cb1b998",
      "name": "Update historico1",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').first().json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n$('Basic LLM Chain2').item.json.text\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1904
      ],
      "id": "1a4f41e4-0549-4859-97b9-cfcc814b3a33",
      "name": "Enviar msg da IA"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').item.json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\nNão encontrei nenhuma data marcada para seu número ${$('Extrair Estado Atual').item.json.telefone}.\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2912,
        -192
      ],
      "id": "1293d79c-2858-4102-818c-4d54adfee167",
      "name": "Sem datas"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').item.json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\nEncontrei as seguintes datas marcadas para seu número ${$('Extrair Dados WhatsApp').item.json.telefone}:\n\n${$input.all().map((item, index) => `${index + 1} - ${item.json.data}`).join('\\n')}\n\nQual data deseja reagendar?\nResponda com a enumeração da data.\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        -384
      ],
      "id": "4749d3b5-154e-4c97-bb96-384522832ed1",
      "name": "Enviar datas para reagendar",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').first().json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\nPor favor, envie a enumeração correta da data que deseja reagendar.\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        3088
      ],
      "id": "00a2e33c-e0b8-4bf0-b69f-f6a303595516",
      "name": "Solicitar data correta"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').first().json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\nTrabalhamos de segunda-feira à sexta-feira, das 08:00 às 18:00.\nData a remarcar: ${$('Retorna id e formata msg1').item.json.dataMSG}\nEnvie a data e horário que deseja agendar.\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        2800
      ],
      "id": "dea2cc88-498b-41ee-80e5-93032cec9a17",
      "name": "Pedir data reagendar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').item.json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\n✅ Remarcado com sucesso!\n${\n$('Transformação de dadoss').item.json.nome\n?\n`${$('Transformação de dadoss').first().json.nome} para ${$('Transformação de dadoss').first().json.data_a_exibir}`\n:\n`Para ${$('Transformação de dadoss').first().json.data_a_exibir}`\n}\n`\n}\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3456,
        1280
      ],
      "id": "df9f97b2-4430-419b-93cf-0019d00db74a",
      "name": "Confirmar reagendamento"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').item.json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\nEncontrei as seguintes datas marcadas para seu número ${$('Extrair Dados WhatsApp').item.json.telefone}:\n\n${$input.all().map((item, index) => `${index +1 } - ${item.json.data}`).join('\\n')}\n\nQual data deseja cancelar?\nResponda com a enumeração da data.\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        -592
      ],
      "id": "edb9428c-1b63-42db-b53c-2090b5df2df2",
      "name": "Enviar datas para cancelar",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').first().json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\nPor favor, envie a enumeração correta da data que deseja cancelar.\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        2544
      ],
      "id": "db4566b8-34f4-4c34-a322-96932538bca7",
      "name": "Solicitar data correta1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').first().json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\n✅ Sua consulta no dia ${$('Retorna id e formata msg').item.json.dataMSG} foi cancelada com sucesso!\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        2304
      ],
      "id": "b613de54-5ff3-439c-8b25-871884dc0b5f",
      "name": "Confirmar cancelamento"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=O cliente enviou a mensagem abaixo. Responda SOMENTE com um JSON no formato:\n{\n  \"agendar\": '...',\n  \"agendarDia\": '...'\n}\n\n\"agendar\" é um valor booleano. Preencha com 'true' somente se TODAS as condições a seguir forem verdadeiras: o cliente deixou explícito que quer agendar/marcar um horário; presença de data; presença de hora. Caso contrário, preencha com 'false'.\n\n\"agendarDia\" é um valor booleano. Preencha com 'true' somente se TODAS as condições a seguir forem verdadeiras: o cliente deixou explícito que quer agendar/marcar um horário, com a presença de algum dia mas sem horário descrito. Caso contrário, preencha com 'false'.\n\nMensagem: {{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -368,
        544
      ],
      "id": "199c744e-ba37-4562-886d-c68930c70498",
      "name": "Basic LLM Chain5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -368,
        688
      ],
      "id": "abb4bd18-7841-4d5c-9f0e-cd038f4d7306",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "type",
              "value": "template"
            },
            {
              "name": "template",
              "value": "={{\n{\n  name: \"lembrete_1_dia_antes\",\n  language: {code: \"pt_BR\"},\n  components: [\n    {\n      type: \"body\",\n      parameters: [\n        {\n          type: \"text\",\n          text: `${$json.nome}`,\n          parameter_name: \"nome\"\n        },\n        {\n          type: \"text\",\n          text: `${$json.data}`,\n          parameter_name: \"data\"\n        }\n      ]\n    }\n  ]\n}\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        1744
      ],
      "id": "92768fb2-9c13-46e6-8528-061563bbe2bd",
      "name": "Enviar aviso"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "type",
              "value": "template"
            },
            {
              "name": "template",
              "value": "={{\n{\n  name: \"lembrete_no_dia\",\n  language: {code: \"pt_BR\"},\n  components: [\n    {\n      type: \"body\",\n      parameters: [\n        {\n          type: \"text\",\n          text: `${$json.nome}`,\n          parameter_name: \"nome\"\n        },\n        {\n          type: \"text\",\n          text: `${$json.data}`,\n          parameter_name: \"data\"\n        }\n      ]\n    }\n  ]\n}\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        1984
      ],
      "id": "e59f9a31-b0f3-42af-9b05-a22fb532ce00",
      "name": "Enviar aviso5"
    },
    {
      "parameters": {
        "jsCode": "return [{json:{\n  test: $(\"Criar Novo Usuário\").all()\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        352
      ],
      "id": "0e42b65e-345c-4623-9e8a-7e1f4e471b25",
      "name": "Verifica se criou usuario",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "let output = $input.first().json.text || '';\noutput = output\n  .replace(/```json/i, '')\n  .replace(/```/g, '')\n  .trim();\nconst dados = JSON.parse(output);\n\nreturn [{json: {\n  agendar: dados.agendar,\n  agendarDia: dados.agendarDia\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        544
      ],
      "id": "2daa03cb-19d3-4d5b-9917-c8625d7d6b1f",
      "name": "Trata o texto"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset estado = 'agendamento'\nwhere telefone = '{{ $('Extrair Dados WhatsApp').item.json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        848,
        1232
      ],
      "id": "60c69f88-e749-47be-ad96-9e02f99fe2a6",
      "name": "Update estado agendamento",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select estado\nfrom conversas\nwhere telefone = '{{ $('Extrair Dados WhatsApp').item.json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2864,
        1168
      ],
      "id": "b96ade24-1a76-4b3e-9a00-cea7f00d1682",
      "name": "Select estado",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Dados WhatsApp').item.json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\nOk! Me conte quais são suas dúvidas.\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        128
      ],
      "id": "da938df6-24d1-4dd3-aa3b-05883f90d622",
      "name": "Pedir duvidas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1350a8b1-d999-42dc-a40a-8ec7bea6ff90",
              "leftValue": "={{ $json.agendar }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        544
      ],
      "id": "350e05ca-9bd0-4a50-ada3-227c9f5300a8",
      "name": "If agendar true"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d571c7fe-fa41-46c9-86b1-f4ea1009c10c",
              "leftValue": "={{ $('Trata o texto').item.json.agendarDia }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        272
      ],
      "id": "6ee77b99-63b7-46d3-af1d-64d53bb5a2d4",
      "name": "If agendarDia true"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente de agendamento.\nTrabalhamos de segunda-feira à sexta-feira. Hoje é {{ $now.toISO() }} (fuso horário de São Paulo).\n\nExtraia a data da mensagem abaixo.\nA data deve ser convertida exatamente para esse formato 'YYYY-MM-DDT00:00:00-03:00'.\n\nResponda SOMENTE com um JSON no formato:\n{\n  \"data\": \"...\",\n  \"dataOk\": \"...\"\n}\n\nA propriedade \"dataOk\" deve ser preenchida com valor booleano. 'true' se a data extraída estiver dentro do dia da semana em que trabalhamos, e 'false' se estiver fora. Se a data extraída for no passado ou em um feriado (estamos localizados em Limeira, SP - Brasil), preencha \"dataOk\" com 'false'.\n\nMensagem: {{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        928,
        -720
      ],
      "id": "fe97248e-34dd-4fbc-9b99-61675167ea2e",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        928,
        -560
      ],
      "id": "9cd5285b-3b27-4c4f-9479-17d745a061c7",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let output = $input.first().json.text || '';\noutput = output\n  .replace(/```json/i, '')\n  .replace(/```/g, '')\n  .trim();\nconst dados = JSON.parse(output);\n\n\nconst after = new Date(dados.data)\n\nlet before = new Date(dados.data);\nbefore.setUTCDate(before.getUTCDate() + 1);\n\nreturn [{\n  json: {\n    dataOk: dados.dataOk,\n    after: after.toISOString(),\n    before: before.toISOString(),\n    historico: JSON.stringify({data: dados.data})\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -720
      ],
      "id": "039f42ff-cdfe-43f5-acab-c174ef6aac03",
      "name": "Transformação de dadoss1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8722e0d2-372a-4a61-9526-1c731e09d90f",
              "leftValue": "={{ $('Transformação de dadoss1').item.json.dataOk }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1456,
        -720
      ],
      "id": "6207c22c-5bfc-4ae0-9c47-03c0c35343be",
      "name": "se data dentro horario de trabalho1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Dados WhatsApp').item.json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\nDesculpe${$('Transformação de dadoss1').item.json.nome ? `${$('Transformação de dadoss1').item.json.nome},` : ','} mas não trabalhamos nesta data que você escolheu.\nTrabalhamos de segunda-feira à sexta-feira, das 08:00 às 18:00.\nPor favor, envie uma nova mensagem com seu nome, data e horário válidos.\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -544
      ],
      "id": "284935f9-b81d-4601-bd57-90a41e195062",
      "name": "Solicitar nova data e hora1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset estado = 'agendamento'\nwhere telefone = '{{ $('Extrair Dados WhatsApp').item.json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1888,
        -544
      ],
      "id": "8d751e35-9776-4d24-89a8-cc6f9b763690",
      "name": "Update estado agendamento1",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $json.after }}",
        "timeMax": "={{ $json.before}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1680,
        -848
      ],
      "id": "bcaa8042-7f17-4c32-a070-de1f627325ce",
      "name": "Get many events4",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente de agendamento.\nEsses são os eventos já marcados no dia que o cliente escolheu ({{ $('Transformação de dadoss1').first().json.after }}) (formato AAAA-MM-DD):\n\n{{ JSON.stringify($json[\"eventos\"], null, 2) }}\n\nCom base nesses eventos, indique os horários disponíveis no mesmo dia (entre 08:00 e 18:00, no fuso horário de São Paulo). Como as consultas duram em média 1 hora, indique os horários livres que em dentro de 1 hora não haverá conflito com outros eventos. Caso seja no dia de hoje ({{ $now }}), não indique horários no passado.\nResponda apenas como se estivesse respondendo diretamente ao cliente (sem conter frases como \"Claro! Aqui está a resposta para o cliente\"), com uma frase simples, informando a data (DD/MM/AAAA) que ele escolheu e quais intervalos de tempo estão disponíveis para agendamento. E também avise para o cliente enviar a próxima mensagem contendo o horário que deseja agendar e seu nome. Caso não haja mais horários disponíveis para o dia, avise-o para enviar a mensagem 'menu' para voltar ao menu e agendar para outra data.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2032,
        -848
      ],
      "id": "06471107-c117-46de-a46d-c85e38bc8995",
      "name": "Basic LLM Chain4"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2032,
        -688
      ],
      "id": "8b2301ca-db0b-450f-bff9-e45cbd1c9f12",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os eventos retornados\nconst eventos = $input.all().map(item => item.json);\n\n// Garante que o modelo receba uma lista limpa e simples\nconst listaEventos = eventos.map(e => ({\n  summary: e.summary,\n  start: e.start?.dateTime,\n  end: e.end?.dateTime\n}));\n\n// Retorna tudo como um único item JSON\nreturn [{\n  json: {\n    eventos: listaEventos\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        -848
      ],
      "id": "a08a8e22-c08e-49a9-85f2-454d9f26db22",
      "name": "Juntando em um elemento1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Dados WhatsApp').first().json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n$json.text\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2336,
        -848
      ],
      "id": "c7ec78d0-d156-40b0-acf4-8b74056a4e4c",
      "name": "Horarios disponiveis"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $('Extrair Dados WhatsApp').first().json.telefone }}",
        "valuesToSend": {
          "values": [
            {
              "column": "historico",
              "value": "={{ $('Transformação de dadoss1').first().json.historico }}"
            },
            {
              "column": "estado",
              "value": "agendamento2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2528,
        -848
      ],
      "id": "46d94b40-6c98-408b-9141-324730b2a890",
      "name": "Update historico e estado",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente de agendamento.\nTrabalhamos das 08:00 às 18:00. Realizamos apenas consulta com duração de 1 hora.\n\nExtraia o nome da pessoa e horário da mensagem abaixo. Caso não haja nome para extrair, preencha com uma string vazia.\nA hora deve ser convertida exatamente para esse formato 'THH:MM:SS-03:00'.\n\nResponda SOMENTE com um JSON no formato:\n{\n  \"nome\": \"...\",\n  \"hora\": \"...\",\n  \"horaOk\": \"...\"\n}\n\nA propriedade \"horaOk\" deve ser preenchida com valor booleano. 'true' se o horário extraído somado com a duração da consulta estiver dentro do horário em que trabalhamos, e 'false' se estiver fora. Caso nâo consiga extrair o horário, preencha \"horaOk\" com 'false' e \"hora\" com uma string vazia.\nMensagem: {{ $('Extrair Dados WhatsApp').item.json.mensagem }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        736,
        768
      ],
      "id": "47241173-ef46-4a58-b51d-d80ce4fe6e88",
      "name": "Basic LLM Chain6"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        736,
        928
      ],
      "id": "5205d143-4508-445d-827c-b41be104b434",
      "name": "Google Gemini Chat Model6",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e21992db-0865-4de3-9b77-01acf3a38b08",
              "leftValue": "={{ $('Trata data e horario').item.json.horaOk }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        768
      ],
      "id": "7dd72cec-374b-4981-9098-59814832bb43",
      "name": "If horaOk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').item.json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\nDesculpe${$('Trata data e horario').item.json.nome ? `${$('Trata data e horario').item.json.nome},` : ','} mas não trabalhamos neste horário que você escolheu.\nTrabalhamos das 08:00 às 18:00.\nPor favor, envie uma nova mensagem com horário válido. Envie \"menu\" para voltar ao menu.\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        912
      ],
      "id": "a282585e-a01d-4eff-990a-de56e1e06fae",
      "name": "Solicitar novo horario"
    },
    {
      "parameters": {
        "jsCode": "let output = $input.first().json.text || '';\noutput = output\n  .replace(/```json/i, '')\n  .replace(/```/g, '')\n  .trim();\nconst dados = JSON.parse(output);\n\nfunction capitalizeEachWord(sentence) {\n  return sentence.split(' ').map(word => {\n    if (word.length === 0) { // Handle empty strings if any\n      return '';\n    }\n    return word.charAt(0).toUpperCase() + word.slice(1);\n  }).join(' ');\n}\n \nconst horario = dados.hora;\nconst data = $('Buscar Estado').first().json.historico.data.slice(0, 10);\nlet dataCompleta = data + horario;\n\nconst dataInicial = new Date(dataCompleta).toISOString();\n  \nlet dataFinal = new Date(dataCompleta);\ndataFinal.setHours(dataFinal.getHours() + 1);\n\n\nconst dataStart = new Date(dataCompleta);\nconst formatador = new Intl.DateTimeFormat('pt-BR', {\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  timeZone: 'America/Sao_Paulo'\n});\nconst dataFormatada = formatador.format(dataStart).replace(',', '');\n\nconst dataFormatadaMYSQL = new Date(dataCompleta).toISOString().replace('T', ' ').slice(0,19)\n\nreturn [{\n  json: {\n    nome: capitalizeEachWord(dados.nome) || $('Buscar Estado').first().json.nome,\n    horaOk: dados.horaOk,\n    data_google_calendar_start: dataInicial,\n    data_google_calendar_end: dataFinal.toISOString(),\n    data_a_exibir: dataFormatada,\n    data_mysql: dataFormatadaMYSQL\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        768
      ],
      "id": "b04ac817-7afa-4562-8fec-acab741355af",
      "name": "Trata data e horario",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "timeMin": "={{ $('Trata data e horario').item.json.data_google_calendar_start }}",
        "timeMax": "={{ $('Trata data e horario').item.json.data_google_calendar_end }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1584,
        688
      ],
      "id": "ef2ea8fb-0a86-46c4-9fb3-0292d6eb1993",
      "name": "Get availability in a calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eabece7f-6ad2-4b07-a92e-d60743013a35",
              "leftValue": "={{ $json.available }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        688
      ],
      "id": "d77028a1-d8e8-44af-b279-448d470b819a",
      "name": "Se disponivel1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update conversas\nset nome = '{{ $json.nome ? `${$json.nome}` : '' }}'\nwhere telefone = '{{ $('Extrair Dados WhatsApp').item.json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1200,
        768
      ],
      "id": "247e071b-0f05-44a7-ad03-a4a999dd5914",
      "name": "Update nome1",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $json.after }}",
        "timeMax": "={{ $json.before }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2368,
        800
      ],
      "id": "447181f1-0b29-4924-9943-ad61970b4ca6",
      "name": "Get many events5",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let originalDate = $('Trata data e horario').first().json.data_google_calendar_start;\n\nlet startOfDay = new Date(originalDate);\nconsole.log(startOfDay);\nstartOfDay.setUTCHours(0, 0, 0, 0);\n\nlet endOfDay = new Date(originalDate);\nendOfDay.setUTCDate(endOfDay.getUTCDate() + 1);\nendOfDay.setUTCHours(0, 0, 0, 0);\n\nreturn [\n  {\n    \"json\": {\n      \"after\" : startOfDay.toISOString(),\n      \"before\": endOfDay.toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        800
      ],
      "id": "bdb136c6-44fa-4fcc-bef4-41601360e611",
      "name": "Transformação de Dados1"
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os eventos retornados\nconst eventos = $input.all().map(item => item.json);\n\n// Garante que o modelo receba uma lista limpa e simples\nconst listaEventos = eventos.map(e => ({\n  summary: e.summary,\n  start: e.start?.dateTime,\n  end: e.end?.dateTime\n}));\n\n// Retorna tudo como um único item JSON\nreturn [{\n  json: {\n    eventos: listaEventos\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        800
      ],
      "id": "170d066a-c469-4652-bdee-0aedbf8bb35f",
      "name": "Juntando em um elemento2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select nome\nfrom conversas\nwhere telefone = '{{ $('Extrair Dados WhatsApp').item.json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1984,
        800
      ],
      "id": "0d79360d-f2de-4de2-8b96-e562ca6926ff",
      "name": "Consultar nome1",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').first().json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n$json.text\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3024,
        800
      ],
      "id": "a8fb4dd6-b3d4-4bc8-a09a-12988718ec8a",
      "name": "Horarios alternativos1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente de agendamento. Hoje é {{ $now }}.\nEsses são os eventos já marcados no dia ({{ $('Trata data e horario').first().json.data_google_calendar_start }}):\n\n{{ JSON.stringify($json[\"eventos\"], null, 2) }}\n\nCom base nesses eventos, indique horários alternativos que ainda estão livres no mesmo dia (entre 08:00 e 18:00, no fuso horário de São Paulo). Como as consultas duram em média 1 hora, indique os horários livres que em dentro de 1 hora não haverá conflito com outros eventos. Caso o dia em questão seja hoje mesmo, não indique horários no passado.\nResponda apenas como se estivesse respondendo diretamente ao cliente (sem conter frases como \"Claro! Aqui está a resposta para o cliente\"), com uma frase simples explicando que o horário que ele pediu já se encontra agendado e informando quais intervalos de tempo estão disponíveis para agendamento, e também avise para o cliente enviar a próxima mensagem contendo o horário que deseja agendar. Informe-o que se ele desejar marcar para outra data, enviar a mensagem \"menu\" para escolher outra data. O nome do cliente é {{ $('Consultar nome1').first().json.nome }}. A primeira palavra de sua resposta deve ser o nome do cliente caso for informado, se não, omita isso e continue com o restante da frase normalmente.\n\nCaso não haja mais horários disponíveis no dia, avise-o para enviar a mensagem \"menu\" para agendar em outro dia.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2720,
        800
      ],
      "id": "d61c6a13-7ff5-4b93-9f53-65f3e9d9a4b2",
      "name": "Basic LLM Chain7"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2720,
        960
      ],
      "id": "900769af-5c90-4e7f-b66a-2e9c7d33cdec",
      "name": "Google Gemini Chat Model7",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "start": "={{ $('Trata data e horario').item.json.data_google_calendar_start }}",
        "end": "={{ $('Trata data e horario').item.json.data_google_calendar_end }}",
        "additionalFields": {
          "sendUpdates": "all",
          "summary": "=Consulta {{ $('Trata data e horario').item.json.nome }} {{ $('Extrair Dados WhatsApp').item.json.telefone }}"
        }
      },
      "name": "Criar Evento Google Calendar1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1984,
        576
      ],
      "id": "9df804b4-774d-4542-ac7a-76789bd6684f",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into datas_agendadas (conversas_telefone, `data`, evento_id)\nvalues ('{{ $('Extrair Dados WhatsApp').item.json.telefone }}',\n  DATE_SUB('{{ $('Trata data e horario').item.json.data_mysql }}', INTERVAL 3 HOUR),\n  '{{ $('Criar Evento Google Calendar1').item.json.id }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2368,
        576
      ],
      "id": "642e7126-2f6e-4665-bdae-e49706d9bb60",
      "name": "Insert into datas_agendadas2",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').item.json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n`\n✅ Agendamento confirmado!\n${$('Trata data e horario').first().json.nome\n?\n`${$('Trata data e horario').first().json.nome} para ${$('Trata data e horario').first().json.data_a_exibir}`\n:\n`Para ${$('Trata data e horario').first().json.data_a_exibir}`}\n`\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2176,
        576
      ],
      "id": "70bb6779-b4eb-4018-9173-f382d9f40a3e",
      "name": "Confirmar agendamento1"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $('Extrair Dados WhatsApp').item.json.telefone }}",
        "valuesToSend": {
          "values": [
            {
              "column": "estado",
              "value": "menu"
            },
            {
              "column": "historico",
              "value": "={{ null }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2544,
        576
      ],
      "id": "6193a518-f05c-44f1-a1b4-b3a3b78e64df",
      "name": "Update estado e historico1",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6acd209-83b8-42cf-972a-c1df7bd58d3f",
              "leftValue": "={{ $('Extrair Estado Atual').first().json.estado }}",
              "rightValue": "reagendamento2",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2720,
        1632
      ],
      "id": "97bc957a-cb5a-43c8-a85c-1c1f27566fdc",
      "name": "If estado not reagendamento2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $json.after }}",
        "timeMax": "={{ $json.before }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        3360,
        1552
      ],
      "id": "377d3d25-89ed-464b-95c3-597188b6b3b3",
      "name": "Get many events6",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let originalDate = $('Transformação de dadoss').first().json.data_google_calendar_start;\n\nlet startOfDay = new Date(originalDate);\nconsole.log(startOfDay);\nstartOfDay.setUTCHours(0, 0, 0, 0);\n\nlet endOfDay = new Date(originalDate);\nendOfDay.setUTCDate(endOfDay.getUTCDate() + 1);\nendOfDay.setUTCHours(0, 0, 0, 0);\n\nreturn [\n  {\n    \"json\": {\n      \"after\" : startOfDay.toISOString(),\n      \"before\": endOfDay.toISOString(),\n      \"historico\": JSON.stringify({data: startOfDay.toISOString()})\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        1552
      ],
      "id": "1d855693-9f40-4a45-97c1-cb92f982da35",
      "name": "Transformação de Dados2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente de agendamento. Hoje é {{ $now }}.\nEsses são os eventos já marcados no dia ({{ $('Transformação de dadoss').first().json.data_google_calendar_start }}):\n\n{{ JSON.stringify($json[\"eventos\"], null, 2) }}\n\nCom base nesses eventos, indique horários alternativos que ainda estão livres no mesmo dia (entre 08:00 e 18:00, no fuso horário de São Paulo). Como as consultas duram em média 1 hora, indique os horários livres que em dentro de 1 hora não haverá conflito com outros eventos. Caso o dia em questão seja hoje mesmo, não indique horários no passado.\nResponda apenas como se estivesse respondendo diretamente ao cliente (sem conter frases como \"Claro! Aqui está a resposta para o cliente\"), com uma frase simples explicando que o horário que ele pediu já se encontra agendado e informando quais intervalos de tempo estão disponíveis para agendamento, e também avise para o cliente enviar a próxima mensagem contendo o horário escolhido para agendamento. Informe-o que se ele desejar marcar para outra data, enviar a mensagem \"menu\" para escolher outra data. O nome do cliente é {{ $('Consultar nome2').first().json.nome }}. A primeira palavra de sua resposta deve ser o nome do cliente caso for informado, se não, omita isso e continue com o restante da frase normalmente.\n\nCaso não haja mais horários disponíveis no dia, avise-o para enviar a mensagem \"menu\" para agendar em outro dia.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3712,
        1552
      ],
      "id": "f8be0aa0-bba6-4366-918f-1a36842ebd77",
      "name": "Basic LLM Chain8"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3712,
        1712
      ],
      "id": "edc62de1-0c6e-4e7c-b56d-61ccfbf58ebf",
      "name": "Google Gemini Chat Model8",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os eventos retornados\nconst eventos = $input.all().map(item => item.json);\n\n// Garante que o modelo receba uma lista limpa e simples\nconst listaEventos = eventos.map(e => ({\n  summary: e.summary,\n  start: e.start?.dateTime,\n  end: e.end?.dateTime\n}));\n\n// Retorna tudo como um único item JSON\nreturn [{\n  json: {\n    eventos: listaEventos\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        1552
      ],
      "id": "68d0d24a-3603-4752-adc6-cb4bdd5ec8c0",
      "name": "Juntando em um elemento3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select nome\nfrom conversas\nwhere telefone = '{{ $('Extrair Dados WhatsApp').item.json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2976,
        1552
      ],
      "id": "b7d59e75-8837-484b-9fab-5da886da736e",
      "name": "Consultar nome2",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Estado Atual').first().json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n$json.text\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4016,
        1552
      ],
      "id": "148e9bb6-fe7b-4eec-9b98-8c2973cc79f5",
      "name": "Horarios alternativos2"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $('Extrair Dados WhatsApp').first().json.telefone }}",
        "valuesToSend": {
          "values": [
            {
              "column": "estado",
              "value": "agendamento2"
            },
            {
              "column": "historico",
              "value": "={{ $('Transformação de Dados2').first().json.historico }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        4224,
        1552
      ],
      "id": "3e2f67ed-2a01-45ec-ae7e-455489a5ae74",
      "name": "Update historico e estado1",
      "credentials": {
        "mySql": {
          "id": "DCPMzUgNxYudexuH",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook IN": [
      {
        "json": {
          "headers": {
            "host": "bethann-conciliable-unvibrantly.ngrok-free.dev",
            "user-agent": "facebookexternalua",
            "content-length": "513",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json",
            "x-forwarded-for": "2a03:2880:10ff:46::",
            "x-forwarded-host": "bethann-conciliable-unvibrantly.ngrok-free.dev",
            "x-forwarded-proto": "https",
            "x-hub-signature": "sha1=9c7e7e70a921222ee130847e515fd6495e0ae74a",
            "x-hub-signature-256": "sha256=64d1f0106e9e5712882ff29315e48447a542f778d305e26948da202b3225c751"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "whatsapp_business_account",
            "entry": [
              {
                "id": "1485481985861913",
                "changes": [
                  {
                    "value": {
                      "messaging_product": "whatsapp",
                      "metadata": {
                        "display_phone_number": "551930610140",
                        "phone_number_id": "914808141706009"
                      },
                      "contacts": [
                        {
                          "profile": {
                            "name": "Mateus Schmidt Mesquita"
                          },
                          "wa_id": "5519996643834"
                        }
                      ],
                      "messages": [
                        {
                          "from": "5519996643834",
                          "id": "wamid.HBgNNTUxOTk5NjY0MzgzNBUCABIYIEFDMTBCNkE0MDY2RDM3RDEzMDVGNkUwRDJGNUM2MjJDAA==",
                          "timestamp": "1762807269",
                          "text": {
                            "body": "Meio dia"
                          },
                          "type": "text"
                        }
                      ]
                    },
                    "field": "messages"
                  }
                ]
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook/whatsapp-webhook",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook IN": {
      "main": [
        [
          {
            "node": "Extrair Dados WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados WhatsApp": {
      "main": [
        [
          {
            "node": "Buscar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Estado": {
      "main": [
        [
          {
            "node": "Usuário Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuário Existe?": {
      "main": [
        [
          {
            "node": "Criar Novo Usuário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrair Estado Atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Novo Usuário": {
      "main": [
        [
          {
            "node": "Enviar menu1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Evento Google Calendar": {
      "main": [
        [
          {
            "node": "Confirmar agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Estado Atual": {
      "main": [
        [
          {
            "node": "If estado menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sair menu": {
      "main": [
        [
          {
            "node": "Retorna output index",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna output index",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna output index",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna output index",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna output index",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna output index",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir nome e data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir nome e data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir nome e data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir duvidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir duvidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir duvidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir duvidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica se criou usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opções estados": {
      "main": [
        [
          {
            "node": "Basic LLM Chain6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar historico de conversas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many events2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many events3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If estado menu": {
      "main": [
        [
          {
            "node": "Basic LLM Chain5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If voltar menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Transformação de dadoss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar": {
      "main": [
        [
          {
            "node": "Se disponivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformação de Dados": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Juntando em um elemento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Horarios alternativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If voltar menu": {
      "main": [
        [
          {
            "node": "Enviar menu2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opções estados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntando em um elemento": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformação de dadoss": {
      "main": [
        [
          {
            "node": "Update nome",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Buscar historico de conversas": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Adicionar msg ao historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar msg ao historico": {
      "main": [
        [
          {
            "node": "Update historico1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar data para envio": {
      "main": [
        [
          {
            "node": "If tem datas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events1": {
      "main": [
        [
          {
            "node": "Formatar data para envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "se data dentro horario de trabalho": {
      "main": [
        [
          {
            "node": "Get availability in a calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Solicitar nova data e hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se disponivel": {
      "main": [
        [
          {
            "node": "Select estado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If estado not reagendamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update nome": {
      "main": [
        [
          {
            "node": "se data dentro horario de trabalho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar nome": {
      "main": [
        [
          {
            "node": "Transformação de Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into datas_agendadas": {
      "main": [
        [
          {
            "node": "Update estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If tem datas": {
      "main": [
        [
          {
            "node": "If cancelamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem datas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events2": {
      "main": [
        [
          {
            "node": "Retorna id e formata msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Update datas_agendadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update datas_agendadas": {
      "main": [
        [
          {
            "node": "Confirmar cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna id e formata msg": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Solicitar data correta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar data": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar data1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger evento criado": {
      "main": [
        [
          {
            "node": "Formatar data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger evento cancelado": {
      "main": [
        [
          {
            "node": "Formatar data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 1 dia antes": {
      "main": [
        [
          {
            "node": "Select datas agendadas amanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select datas agendadas amanha": {
      "main": [
        [
          {
            "node": "Formatar os dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar os dados": {
      "main": [
        [
          {
            "node": "Enviar aviso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select datas agendadas hoje": {
      "main": [
        [
          {
            "node": "Formatar os dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete no dia": {
      "main": [
        [
          {
            "node": "Select datas agendadas hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar os dados1": {
      "main": [
        [
          {
            "node": "Enviar aviso5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna output index": {
      "main": [
        [
          {
            "node": "Get many events1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If cancelamento": {
      "main": [
        [
          {
            "node": "Enviar datas para cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar datas para reagendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events3": {
      "main": [
        [
          {
            "node": "Retorna id e formata msg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna id e formata msg1": {
      "main": [
        [
          {
            "node": "Update historico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Solicitar data correta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update historico": {
      "main": [
        [
          {
            "node": "Pedir data reagendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If estado agendamento": {
      "main": [
        [
          {
            "node": "Criar Evento Google Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an event": {
      "main": [
        [
          {
            "node": "Confirmar reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update estado historico status": {
      "main": [
        [
          {
            "node": "Insert into datas_agendadas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger evento atualizado": {
      "main": [
        [
          {
            "node": "Select datas canceladas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select datas canceladas": {
      "main": [
        [
          {
            "node": "Formatar datas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar datas": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir nome e data": {
      "main": [
        [
          {
            "node": "Mudar estado para agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar menu2": {
      "main": [
        [
          {
            "node": "Update estado e historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar agendamento": {
      "main": [
        [
          {
            "node": "Insert into datas_agendadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update historico1": {
      "main": [
        [
          {
            "node": "Enviar msg da IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar datas para reagendar": {
      "main": [
        [
          {
            "node": "Mudar estado para reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir data reagendar": {
      "main": [
        [
          {
            "node": "Update estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar reagendamento": {
      "main": [
        [
          {
            "node": "Update estado historico status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar datas para cancelar": {
      "main": [
        [
          {
            "node": "Mudar estado para cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar cancelamento": {
      "main": [
        [
          {
            "node": "Update estado menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain5": {
      "main": [
        [
          {
            "node": "Trata o texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se criou usuario": {
      "main": [
        [],
        [
          {
            "node": "Enviar menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata o texto": {
      "main": [
        [
          {
            "node": "If agendar true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update estado agendamento": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select estado": {
      "main": [
        [
          {
            "node": "If estado agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir duvidas": {
      "main": [
        [
          {
            "node": "Mudar estado para faq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If agendar true": {
      "main": [
        [
          {
            "node": "Update estado agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If agendarDia true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If agendarDia true": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sair menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "se data dentro horario de trabalho1": {
      "main": [
        [
          {
            "node": "Get many events4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Solicitar nova data e hora1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Transformação de dadoss1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformação de dadoss1": {
      "main": [
        [
          {
            "node": "se data dentro horario de trabalho1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solicitar nova data e hora1": {
      "main": [
        [
          {
            "node": "Update estado agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events4": {
      "main": [
        [
          {
            "node": "Juntando em um elemento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain4": {
      "main": [
        [
          {
            "node": "Horarios disponiveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Juntando em um elemento1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Horarios disponiveis": {
      "main": [
        [
          {
            "node": "Update historico e estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain6": {
      "main": [
        [
          {
            "node": "Trata data e horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If horaOk": {
      "main": [
        [
          {
            "node": "Get availability in a calendar1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Solicitar novo horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata data e horario": {
      "main": [
        [
          {
            "node": "Update nome1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar1": {
      "main": [
        [
          {
            "node": "Se disponivel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update nome1": {
      "main": [
        [
          {
            "node": "If horaOk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events5": {
      "main": [
        [
          {
            "node": "Juntando em um elemento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformação de Dados1": {
      "main": [
        [
          {
            "node": "Get many events5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntando em um elemento2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar nome1": {
      "main": [
        [
          {
            "node": "Transformação de Dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se disponivel1": {
      "main": [
        [
          {
            "node": "Criar Evento Google Calendar1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultar nome1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain7",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain7": {
      "main": [
        [
          {
            "node": "Horarios alternativos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Evento Google Calendar1": {
      "main": [
        [
          {
            "node": "Confirmar agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into datas_agendadas2": {
      "main": [
        [
          {
            "node": "Update estado e historico1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar agendamento1": {
      "main": [
        [
          {
            "node": "Insert into datas_agendadas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If estado not reagendamento2": {
      "main": [
        [
          {
            "node": "Consultar nome2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultar nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events6": {
      "main": [
        [
          {
            "node": "Juntando em um elemento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformação de Dados2": {
      "main": [
        [
          {
            "node": "Get many events6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain8": {
      "main": [
        [
          {
            "node": "Horarios alternativos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain8",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Juntando em um elemento3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar nome2": {
      "main": [
        [
          {
            "node": "Transformação de Dados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Horarios alternativos2": {
      "main": [
        [
          {
            "node": "Update historico e estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar menu1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c879dd57-36c8-431e-9307-aedebf5dc162",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a5858773c819eef5c772c511bb8bf6c8d350f72a6984a156e8f3d5f5f2f96f8"
  },
  "id": "kU08RTujD2Jraxhz",
  "tags": []
}