Agendamento Humanizado.json
{
  "name": "Agendamento Humanizado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "name": "Webhook IN",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1648,
        256
      ],
      "webhookId": "whatsapp-webhook",
      "id": "7e21dd7c-8ecc-4a7d-ae93-d0fc2f46d20d"
    },
    {
      "parameters": {
        "functionCode": "if ($node['Webhook IN'].json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"type\"] == 'text') {\n  return [{json: {\n  telefone: $node[\"Webhook IN\"].json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"from\"],\n  mensagem: $json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"text\"][\"body\"]\n}}];\n}\n\n\nif ($node['Webhook IN'].json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"type\"] == 'audio') {\n  return [{json: {\n  telefone: $node[\"Webhook IN\"].json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"from\"],\n  mensagem: $json[\"candidates\"][\"0\"][\"content\"][\"parts\"][\"0\"][\"text\"]\n}}];\n}"
      },
      "name": "Extrair Dados WhatsApp",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -704,
        240
      ],
      "id": "cf4f3f74-0237-41c0-af2f-d8829fb43939"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into conversas (telefone)\nvalues ('{{ $('Extrair Dados WhatsApp').item.json.telefone }}');"
      },
      "name": "Criar Novo Usuário",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        96,
        64
      ],
      "id": "beb9dd0d-575d-419e-bb8a-5527897cf80e",
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d1c7337d-2db4-40b7-af13-1afa7ba0ebb1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dfd01a53-6dfc-4bbe-97a1-fc5c56b059f8",
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1472,
        256
      ],
      "id": "de2a727c-eb8b-4724-afd7-497245003dc6",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.body.entry[0].changes[0].value.messages[0].audio.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        352
      ],
      "id": "3a60cd24-3493-4b4c-be8a-2d5585114325",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -912,
        352
      ],
      "id": "3e9dfcf1-3468-4b67-8923-2f0ae8f6ab7f",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1088,
        352
      ],
      "id": "aca1a302-3d26-4628-a87e-70527caf9186",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tipo, conteudo\nFROM mensagens\nWHERE conversas_id = (\n    SELECT id FROM conversas WHERE telefone = {{ $json.telefone }}\n)\nORDER BY criado_em DESC\nLIMIT 30;"
      },
      "name": "Buscar mensagens",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -528,
        240
      ],
      "id": "29ffd255-8dc3-4a9b-8766-d348ab72682f",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é o assistente virtual (agente) de uma corretora de seguros. Estamos localizados em Limeira - SP, Brasil. Trabalhamos das 08:00 às 18:00, de segunda-feira à sexta-feira. Não trabalhamos em feriados. Hoje é {{ $now }}.\n\nSeu papel é conversar de forma natural, educada e objetiva com os clientes.\nVocê entende o contexto a partir das mensagens anteriores e responde de forma coerente. Não use linguagem robótica. Seja simpático e conciso.\n\nVocê deve esclarecer as dúvidas do cliente com a possibilidade de marcar uma consulta presencial. Nossas consultas duram cerca de 1 hora. Para agendamentos, todas as seguintes condições devem ser verdadeiras: intenção por parte do cliente; data; horário. Ao conseguir obter essas informações ou o cliente pedir pela disponibilidade de horários, execute a ferramenta 'consultar_eventos' para obter a disponibilidade de horários. Caso haja disponibilidade para a consulta de 1 hora na data e horário em que o cliente deseja, execute a ferramenta 'criar_evento' para criar evento no Google Calendar. Se não há disponibilidade, ofereça horários ou dias alternativos conforme o cliente também fornece sua disponibilidade. Não indique dias e horários no passado, fora do dia da semana e horários em que trabalhos ou feriados. Ao indicar horários, sempre deixe claro todas as datas e horários livres, dentro do contexto da conversa. Após criar o evento no Google Calendar, confirme ao cliente que sua consulta foi marcada com sucesso na data e horário agendadas, e também use a ferramenta 'inserir_evento_db' para inserir uma linha no banco de dados com as informações do evento criado.\n\nO cliente também pode querer reagendar ou desmarcar suas consultas. Para estes casos, você deve informar ao cliente quais são as datas que ele agendou e então prosseguir para os passos de reagendamento ou cancelamento de consulta. A seguir estão as datas agendadas e seus respectivos ID do evento no Google Calendar para este cliente (se vazio, informe ao cliente que não há nenhuma data agendada):\n{{ $json.datas_agendadas }}\n\nPara o caso de o cliente querer remarcar/reagendar sua consulta, todas as seguintes condições devem ser verdadeiras: intenção do cliente reagendar seu horário; a data de sua consulta que deseja reagendar; nova data para agendar; novo horário para agendar. Ao conseguir obter essas informações, execute a ferramenta 'consultar_eventos' para obter a disponibilidade de horários. Caso haja disponibilidade para a consulta de 1 hora na nova data e horário em que o cliente deseja, execute a ferramenta 'atualizar_evento' para atualizar o evento no Google Calendar. Se não há disponibilidade, ofereça horários ou dias alternativos conforme o cliente também fornece sua disponibilidade. Não indique dias e horários no passado, fora do dia da semana e horários em que trabalhos ou feriados. Ao indicar horários, sempre deixe claro todas as datas e horários livres, dentro do contexto da conversa. Após atualizar o evento no Google Calendar, confirme ao cliente que a consulta foi remarcada com sucesso para a nova data e horário, e também use as ferramentas 'inserir_evento_db' e 'atualizar_evento_db' para inserir e atualizar o banco de dados com as informações do evento atualizado, respectivamente.\n\nPara o caso de o cliente querer cancelar sua consulta, todas as seguintes condições devem ser verdadeiras: intenção do cliente cancelar sua consulta; a data de sua consulta para cancelar. Ao confirmar essas condições, execute a ferramenta 'deletar_evento' para deletar o evento no Google Calendar. Após deletar o evento no Google Calendar, confirme ao cliente que sua consulta foi cancelada com sucesso, e também use a ferramenta 'atualizar_evento_db' para atualizar o banco de dados com as informações do evento deletado.\n\nMensagens anteriores:\n{{ $('Junta as msgs').first().json.historico }}\n\nÚltima mensagem do cliente:\n{{ $('Extrair Dados WhatsApp').first().json.mensagem }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        432,
        240
      ],
      "id": "526095c5-a911-4ae9-a1d1-2c7fe68fb4b3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -64,
        640
      ],
      "id": "2d7a5c79-d82d-4c53-aa43-79fe913c2043",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const historico = $input.all().map(item => item.json)\n\nreturn [{json:{\n  historico: JSON.stringify(historico)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        240
      ],
      "id": "5b4ae15b-f7d6-48c4-bbe2-32d76326f5b7",
      "name": "Junta as msgs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Dados WhatsApp').first().json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n$('AI Agent').item.json.output.mensagem\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        240
      ],
      "id": "ceaddb1c-cffc-4dcb-8bd1-216c526c6af7",
      "name": "Enviar msg da IA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05c8f79b-6271-4855-9e49-12164adf584c",
              "leftValue": "={{ $('Buscar mensagens').first().json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        240
      ],
      "id": "84acea83-fecd-4984-9ae8-84704567d540",
      "name": "If cliente nao existe"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n      \"nome\": {\n          \"type\": [\"string\", \"null\", \"undefined\"],\n          \"description\": \"Nome do cliente se explícito na conversa\"\n      },\n      \"mensagem\": {\n          \"type\": \"string\",\n          \"description\": \"Mensagem a ser enviada ao cliente\"\n      }\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        944,
        640
      ],
      "id": "a4af6f30-2ba2-4c1b-aa08-5ccc676479c4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa ferramenta para criar eventos no Google Calendar, para agendamento de consultas, quando apropriado.\n\nEntrada esperada: {\"dataHoraInicial\": \"Data e horário na qual o cliente deseja agendar, convertendo para o formato 'YYYY-MM-DDTHH:mm:ssZ'\", \"dataHoraFinal\": \"Valor de 'dataHoraInicial' acrescido de 1 hora\", \"nome\": \"Nome do cliente\"}\n\nSaída esperada: lista contendo os dados do evento criado.",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Data e horário na qual o cliente deseja agendar, convertendo para o formato 'YYYY-MM-DDTHH:mm:ssZ'`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `A data e horário na qual o cliente deseja agendar, adicionado de 1 hora.`, 'string') }}",
        "additionalFields": {
          "summary": "=Consulta {{ $fromAI('nome', 'Nome do cliente', 'string', '') }} {{ $('Extrair Dados WhatsApp').first().json.telefone }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        80,
        640
      ],
      "id": "f66bdbe1-fecd-4acb-ad15-390ad9ea2edb",
      "name": "criar_evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Toda vez, após um agendamento ou reagendamento ser executado no Google Calendar, execute esta ferramenta para adicionar data e horário (agendamento) ou nova data e horário (reagendamento) e ID do evento ao banco de dados.\n\nEntrada esperada: {\"dataHora\": \"Data início no formato AAAA-MM-DD HH:MM:SS do evento criado ou atualizado no Google Calendar\", \"eventoId\": \"ID do evento criado ou atualizado no Google Calendar\"}",
        "operation": "executeQuery",
        "query": "insert into eventos_agendados (conversas_id, `data`, evento_id)\nvalues (\n  (select id from conversas where telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}'),\n  '{{ $fromAI('dataHora', 'Data início no ormato AAAA-MM-DD HH:MM:SS do evento criado ou atualizado no Google Calendar') }}',\n  '{{ $fromAI('eventoId', 'ID do evento criado ou atualizado no Google Calendar') }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        656,
        640
      ],
      "id": "4f84ddc2-aed7-40ff-9378-8a64fdd1abbe",
      "name": "inserir_evento_db",
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into mensagens (conversas_id, tipo, conteudo)\nvalues (\n  (select id from conversas where telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}'),\n  'cliente',\n  '{{ $('Extrair Dados WhatsApp').first().json.mensagem }}'\n);\n\ninsert into mensagens (conversas_id, tipo, conteudo)\nvalues (\n  (select id from conversas where telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}'),\n  'agente',\n  '{{ $json.output.mensagem }}'\n);\n\nupdate conversas\nset ultima_interacao = DATE_SUB(CURRENT_TIMESTAMP, INTERVAL 3 HOUR), nome = '{{ $json.output.nome ? `${$json.output.nome}` : '' }}'\nwhere telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        784,
        240
      ],
      "id": "fdd37df1-6334-4b14-bb7a-cb4d96170fe9",
      "name": "Insert into mensagens Update conversas Update nome",
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use esta ferramenta quando precisar verificar se há eventos no Google Calendar em um intervalo de tempo.\n\nEntrada esperada: {\"data_inicio\": \"YYYY-MM-DDTHH:MM:SS-03:00\", \"data_fim\": \"YYYY-MM-DDTHH:MM:SS-03:00\"}\n\nSaída: lista de eventos encontrados (pode estar vazia).",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `Início da data para consultar, no formato 'YYYY-MM-DDTHH:MM:SS-03:00'.`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `Fim da data para consultar, no formato 'YYYY-MM-DDTHH:MM:SS-03:00'.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        208,
        640
      ],
      "id": "0e7a5f41-0ac0-4b66-8d7a-de765ebe97e2",
      "name": "consultar_eventos",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        800
      ],
      "id": "029ea7be-d4bb-4a0b-8c7c-5d8927e6b488",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Trigger evento criado').item.json.creator.email }}",
        "subject": "=Agendamento confirmado {{ $json.data }}",
        "emailType": "text",
        "message": "={{ $('Trigger evento criado').item.json.summary }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1088,
        928
      ],
      "id": "5d4be880-4c3b-417d-aa2e-99f826e12abb",
      "name": "Send a message",
      "webhookId": "d5bb4bea-d29b-41f8-98a1-bd986651d69d",
      "credentials": {
        "gmailOAuth2": {
          "id": "d0mnV1TzVQ706o6A",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dataISO = new Date($input.first().json.start.dateTime);\n\nreturn {\"json\": {\n  \"data\": dataISO.toLocaleString('pt-BR', {\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n  timeZone: 'America/Sao_Paulo'\n}).replace(',', '')\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        928
      ],
      "id": "7cd556d9-d09e-4522-b39a-9d1857410554",
      "name": "Formatar data1"
    },
    {
      "parameters": {
        "content": "## Triggers adicionais",
        "height": 1232,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        784
      ],
      "typeVersion": 1,
      "id": "4f475cd0-122b-4b74-b232-d948dc216427",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "triggerOn": "eventCreated",
        "options": {
          "matchTerm": "Consulta"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        928
      ],
      "id": "71ed0145-60f7-4c84-8de7-efc2d899d38b",
      "name": "Trigger evento criado",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1600
      ],
      "id": "1e8d33dd-51de-4402-bcd5-ea679375d1d9",
      "name": "Lembrete 1 dia antes"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select c.nome, c.telefone, e.`data`\nfrom eventos_agendados as e\njoin conversas as c\non e.conversas_id = c.id\nwhere e.status = 'ativo'\n  and DATE(e.`data`) = DATE_ADD(CURRENT_DATE(), INTERVAL 1 DAY);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1280,
        1600
      ],
      "id": "85a88f3d-9db1-4595-8796-550e27dd9075",
      "name": "Select datas agendadas amanha",
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.all().map(item => ({json: {\n  nome: item.json.nome || 'cliente',\n  data: item.json.data.slice(11).slice(0, 5),\n  telefone: item.json.telefone\n}}));\n\nreturn dados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        1600
      ],
      "id": "471c92c7-5212-461e-8655-e4579beb296f",
      "name": "Formatar os dados"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1840
      ],
      "id": "520890a3-1627-4e46-b5b2-4aade60cf77f",
      "name": "Lembrete no dia"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select c.nome, c.telefone, e.`data`\nfrom eventos_agendados as e\njoin conversas as c\non e.conversas_id = c.id\nwhere e.status = 'ativo'\n  and DATE(e.`data`) = CURRENT_DATE();",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1280,
        1840
      ],
      "id": "b717c521-c231-4b7e-b019-98d384c1d767",
      "name": "Select datas agendadas hoje",
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.all().map(item => ({json: {\n  nome: item.json.nome || 'cliente',\n  data: item.json.data.slice(11).slice(0, 5),\n  telefone: item.json.telefone\n}}));\n\nreturn dados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        1840
      ],
      "id": "c1d74ab6-3810-4163-a238-cc8c099cbde6",
      "name": "Formatar os dados1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "type",
              "value": "template"
            },
            {
              "name": "template",
              "value": "={{\n{\n  name: \"lembrete_1_dia_antes\",\n  language: {code: \"pt_BR\"},\n  components: [\n    {\n      type: \"body\",\n      parameters: [\n        {\n          type: \"text\",\n          text: `${$json.nome}`,\n          parameter_name: \"nome\"\n        },\n        {\n          type: \"text\",\n          text: `${$json.data}`,\n          parameter_name: \"data\"\n        }\n      ]\n    }\n  ]\n}\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        1600
      ],
      "id": "c481cc82-906d-47f7-89a0-f46eb235c48c",
      "name": "Enviar aviso"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "type",
              "value": "template"
            },
            {
              "name": "template",
              "value": "={{\n{\n  name: \"lembrete_no_dia\",\n  language: {code: \"pt_BR\"},\n  components: [\n    {\n      type: \"body\",\n      parameters: [\n        {\n          type: \"text\",\n          text: `${$json.nome}`,\n          parameter_name: \"nome\"\n        },\n        {\n          type: \"text\",\n          text: `${$json.data}`,\n          parameter_name: \"data\"\n        }\n      ]\n    }\n  ]\n}\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        1840
      ],
      "id": "902c7c45-2c2b-45f6-b251-3a82b8ea09a1",
      "name": "Enviar aviso5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select `data` as data_agendada, evento_id\nfrom eventos_agendados\nwhere conversas_id = (select id from conversas where telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}')\n  and status = 'ativo'\n  and `data` >= DATE_SUB(CURRENT_TIMESTAMP, INTERVAL 3 HOUR);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        32,
        240
      ],
      "id": "e15318b5-4345-4e61-bcc2-23227029255f",
      "name": "Busca por datas agendadas",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const datas_agendadas = $input.all().map(item => item.json);\n\nreturn [{json: {\n  datas_agendadas: JSON.stringify(datas_agendadas)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        240
      ],
      "id": "1ecf6cf0-8a95-4415-a512-b586ab5f8a4f",
      "name": "Junta td"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Toda vez, após um reagendamento ou cancelamento (evento atualizado ou deletado, respectivamente) ser executado no Google Calendar, execute esta ferramenta para atualizar a linha que possui o ID do evento que foi atualizado ou deletado no Google Calendar.\n\nEntrada esperada: {\"eventoId\": \"ID do evento que foi atualizado ou deletado no Google Calendar\"}",
        "operation": "executeQuery",
        "query": "update eventos_agendados\nset status = 'cancelado'\nwhere evento_id = {{ $fromAI('eventoId', 'ID do evento que foi atualizado ou cancelado no Google Calendar', 'string') }};",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        816,
        640
      ],
      "id": "276d9350-db9f-4345-ad6e-5e7778a9c71e",
      "name": "atualizar_evento_db",
      "credentials": {
        "mySql": {
          "id": "DcvAQcI7EEL7wn1u",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa ferramenta para atualizar eventos no Google Calendar, para reagendamento de consultas, quando apropriado.\n\nEntrada esperada: {\"dataHoraInicial\": \"Nova data e horário na qual o cliente deseja agendar, convertendo para o formato 'YYYY-MM-DDTHH:mm:ssZ'\", \"dataHoraFinal\": \"Valor de 'dataHoraInicial' acrescido de 1 hora\", \"eventoId\": \"ID do evento no Google Calendar que o cliente deseja reagendar\"}\n\nSaída esperada: lista contendo os dados do evento atualizado.",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "eventId": "={{ $fromAI('eventoId', 'ID do evento no Google Calendar no qual o cliente quer reagendar', 'string') }}",
        "updateFields": {
          "end": "={{ $fromAI('dataHoraFinal', 'Nova data e horário na qual o cliente deseja agendar, no formato YYYY-MM-DDTHH:mm:ssZ, acrescido de 1 hora', 'string') }}",
          "start": "={{ $fromAI('dataHoraInicial', 'Nova data e horário na qual o cliente deseja agendar, convertendo para o formato YYYY-MM-DDTHH:mm:ssZ', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        496,
        640
      ],
      "id": "ac64e1b5-c0e3-4210-91f8-33002846f02c",
      "name": "atualizar_evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa ferramenta para deletar eventos no Google Calendar, para cancelamento de consultas, quando apropriado.\n\nEntrada esperada: {\"eventoId\": \"ID do evento no Google Calendar no qual o cliente deseja cancelar\"}\n\nSaída esperada: lista contendo os dados do evento deletado.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `ID do evento no Google Calendar no qual o cliente deseja cancelar.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        352,
        640
      ],
      "id": "b3e9034d-8367-4c9a-8dc8-8fb47a608c48",
      "name": "deletar_evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook IN": [
      {
        "json": {
          "headers": {
            "host": "bethann-conciliable-unvibrantly.ngrok-free.dev",
            "user-agent": "facebookexternalua",
            "content-length": "518",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json",
            "x-forwarded-for": "2a03:2880:22ff:8::",
            "x-forwarded-host": "bethann-conciliable-unvibrantly.ngrok-free.dev",
            "x-forwarded-proto": "https",
            "x-hub-signature": "sha1=dd7cc55c4c89d94d05990208caf6cb8a37db9ddd",
            "x-hub-signature-256": "sha256=982ff40a3e4261238bedee335ad3b35e94527e58e119da7916e5f207d9e675d2"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "whatsapp_business_account",
            "entry": [
              {
                "id": "1485481985861913",
                "changes": [
                  {
                    "value": {
                      "messaging_product": "whatsapp",
                      "metadata": {
                        "display_phone_number": "551930610140",
                        "phone_number_id": "914808141706009"
                      },
                      "contacts": [
                        {
                          "profile": {
                            "name": "Mateus Schmidt Mesquita"
                          },
                          "wa_id": "5519996643834"
                        }
                      ],
                      "messages": [
                        {
                          "from": "5519996643834",
                          "id": "wamid.HBgNNTUxOTk5NjY0MzgzNBUCABIYFDNGRDlBREQzNTQyQTI5NEVGNTc1AA==",
                          "timestamp": "1763069615",
                          "text": {
                            "body": "seria melhor em alguma quarta"
                          },
                          "type": "text"
                        }
                      ]
                    },
                    "field": "messages"
                  }
                ]
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook/whatsapp-webhook",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook IN": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados WhatsApp": {
      "main": [
        [
          {
            "node": "Buscar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extrair Dados WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Extrair Dados WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens": {
      "main": [
        [
          {
            "node": "Junta as msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Novo Usuário": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Junta as msgs": {
      "main": [
        [
          {
            "node": "If cliente nao existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Insert into mensagens Update conversas Update nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If cliente nao existe": {
      "main": [
        [
          {
            "node": "Criar Novo Usuário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca por datas agendadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "criar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "inserir_evento_db": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insert into mensagens Update conversas Update nome": {
      "main": [
        [
          {
            "node": "Enviar msg da IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Formatar data1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger evento criado": {
      "main": [
        [
          {
            "node": "Formatar data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 1 dia antes": {
      "main": [
        [
          {
            "node": "Select datas agendadas amanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select datas agendadas amanha": {
      "main": [
        [
          {
            "node": "Formatar os dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar os dados": {
      "main": [
        [
          {
            "node": "Enviar aviso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete no dia": {
      "main": [
        [
          {
            "node": "Select datas agendadas hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select datas agendadas hoje": {
      "main": [
        [
          {
            "node": "Formatar os dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar os dados1": {
      "main": [
        [
          {
            "node": "Enviar aviso5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca por datas agendadas": {
      "main": [
        [
          {
            "node": "Junta td",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Junta td": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_evento_db": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "deletar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "90a95a9c-0773-4bce-981e-806ea7d54388",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a5858773c819eef5c772c511bb8bf6c8d350f72a6984a156e8f3d5f5f2f96f8"
  },
  "id": "tpQQxs74EIrt0yrP",
  "tags": []
}