Assistente Clinica Guido.json
{
  "name": "Assistente Clinica Guido",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "name": "Webhook IN",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2208,
        -1392
      ],
      "webhookId": "whatsapp-webhook",
      "id": "f569d3a0-5ab8-4cd5-85b8-7b0b0bb8e003"
    },
    {
      "parameters": {
        "functionCode": "if ($node['Webhook IN'].json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"type\"] == 'text') {\n  return [{json: {\n  telefone: $node[\"Webhook IN\"].json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"from\"],\n  mensagem: $json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"text\"][\"body\"]\n}}];\n}\n\n\nif ($node['Webhook IN'].json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"type\"] == 'audio') {\n  return [{json: {\n  telefone: $node[\"Webhook IN\"].json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"messages\"][\"0\"][\"from\"],\n  mensagem: $json[\"candidates\"][\"0\"][\"content\"][\"parts\"][\"0\"][\"text\"]\n}}];\n}"
      },
      "name": "Extrair Dados WhatsApp",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1264,
        -1408
      ],
      "id": "21e7f824-05bd-49c0-9824-30a115d24f7b"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into conversas (telefone)\nvalues ('{{ $('Extrair Dados WhatsApp').item.json.telefone }}');"
      },
      "name": "Criar Novo Usuário",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -288,
        -1616
      ],
      "id": "8406ba98-1358-419b-8104-625aa11dd874",
      "credentials": {
        "mySql": {
          "id": "Op5rAe6z6A07TgjU",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d1c7337d-2db4-40b7-af13-1afa7ba0ebb1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dfd01a53-6dfc-4bbe-97a1-fc5c56b059f8",
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2032,
        -1392
      ],
      "id": "7def04b1-0de8-4fe7-959d-01cb033ae021",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.body.entry[0].changes[0].value.messages[0].audio.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1840,
        -1296
      ],
      "id": "d07c38fe-ad63-4677-b491-ccaf85114746",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1472,
        -1296
      ],
      "id": "8b3d6cd8-d345-484d-a8e7-a30f06af07a4",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1648,
        -1296
      ],
      "id": "f020809f-c017-492d-8020-43da355d1eae",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tipo, conteudo\nFROM mensagens\nWHERE conversas_id = (\n    SELECT id FROM conversas WHERE telefone = {{ $json.telefone }}\n)\nORDER BY id DESC\nLIMIT 30;"
      },
      "name": "Buscar mensagens",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -1024,
        -1408
      ],
      "id": "6c761824-688d-4e3b-a53a-7018d54093b7",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "Op5rAe6z6A07TgjU",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é o assistente virtual (agente) da clínica odontológica Clínica Arcaro, endereço R. Prof. Rui Côrte Brilho, 199 - Chácara Antonieta, Limeira - SP, 13484-507. Hoje é {{ $now }}. Você está conversando com o cliente {{ $('Select nome').isExecuted ? $('Select nome').first().json.nome : '' }}.\n\nSeu papel é conversar de forma natural, educada e objetiva com os clientes.\nVocê entende o contexto a partir das mensagens anteriores e responde de forma coerente. Não use linguagem robótica. Seja simpático e conciso.\n\nA clínica presta os seguintes serviços: clínica geral (tratamentos), ortodontia (aparelhos) e harmonização facial.\n\nPara cada tipo de serviços que realizamos, há um horário de atendimento.\n\nPara ortodontia e harmonização, trabalhamos somente nos seguintes dias da semana e horários:\n- Terça-feiras das 14:30 às 18:45;\n- Quarta-feiras das 08:15 às 10:00 e das 14:30 às 18:45. Entre as 10:00 e 14:30 não trabalhamos.\n\nPara clínica geral, trabalhamos somente nos seguintes dias da semana e horários:\n- Segunda-feira à sexta-feira das 08:00 às 11:00 e das 14:00 às 18:30. Entre 11:00 e 14:00 não trabalhamos.\n\nCaso não há histórico de mensagens, informe ao cliente que ele está conversando com um assistente virtual da clínica odontológica (Clínica Arcaro) e seja nesse formato 'Realizamos serviços de ortodontia (aparelhos), clínica geral (restaurações), harmonização facial (botox). Qual desses serviços você gostaria de agendar?'\n\nVocê deve esclarecer as dúvidas do cliente com a possibilidade de marcar um agendamento presencial.\n\nSua primeira etapa na conversa é verificar se o cliente já é paciente da clínica ou não. Caso o cliente não seja paciente, você deve marcar consultas para orçamentos. Se já é paciente, você deve agendar consultas de retorno para a continuidade do serviço que está sendo prestado ao cliente.\n\nPara consultas de orçamento, seja para qualquer tipo de serviço, duram 30 minutos. Já consultas para prestar o serviço (retorno) duram 1 hora.\n\nPara agendamentos, todas as seguintes condições devem ser verdadeiras: intenção por parte do cliente; data; horário; nome completo do cliente. Ao conseguir obter essas informações ou o cliente pedir pela disponibilidade de horários, execute a ferramenta 'consultar_eventos' para obter a disponibilidade de horários. Caso haja disponibilidade para o tipo de consulta na data e horário em que o cliente deseja, execute a ferramenta 'criar_evento' para criar evento no Google Calendar. Se não há disponibilidade, ofereça horários ou dias alternativos conforme o cliente também fornece sua disponibilidade. Não indique dias e horários no passado, fora do dia da semana e horários em que trabalhos ou feriados. Ao indicar horários, sempre deixe claro todas as datas e horários livres, dentro do contexto da conversa. Após criar o evento no Google Calendar, confirme ao cliente que sua consulta foi marcada com sucesso na data e horário agendadas.\n\nO cliente também pode querer reagendar ou desmarcar suas consultas. Para estes casos, você deve informar ao cliente quais são as datas que ele agendou e então prosseguir para os passos de reagendamento ou cancelamento de consulta. A seguir estão as datas agendadas e seus respectivos ID do evento no Google Calendar para este cliente (se vazio, informe ao cliente que não há nenhuma data agendada):\n{{ $('Junta td').isExecuted ? $('Junta td').first().json.datas_agendadas : '' }}\n\nPara o caso de o cliente querer remarcar/reagendar sua consulta, todas as seguintes condições devem ser verdadeiras: intenção do cliente reagendar seu horário; a data de sua consulta que deseja reagendar; nova data para agendar; novo horário para agendar. Ao conseguir obter essas informações, execute a ferramenta 'consultar_eventos' para obter a disponibilidade de horários. Caso haja disponibilidade para o tipo de consulta na nova data e horário em que o cliente deseja, execute a ferramenta 'atualizar_evento' para atualizar o evento no Google Calendar. Se não há disponibilidade, ofereça horários ou dias alternativos conforme o cliente também fornece sua disponibilidade. Não indique dias e horários no passado, fora do dia da semana e horários em que trabalhos ou feriados. Ao indicar horários, sempre deixe claro todas as datas e horários livres, dentro do contexto da conversa. Após atualizar o evento no Google Calendar, confirme ao cliente que a consulta foi remarcada com sucesso para a nova data e horário.\n\nPara o caso de o cliente querer cancelar sua consulta, todas as seguintes condições devem ser verdadeiras: intenção do cliente cancelar sua consulta; a data de sua consulta para cancelar. Ao confirmar essas condições, execute a ferramenta 'deletar_evento' para deletar o evento no Google Calendar. Após deletar o evento no Google Calendar, confirme ao cliente que sua consulta foi cancelada com sucesso.\n\nMensagens anteriores:\n{{ $('Junta as msgs').first().json.historico }}\n\nÚltima mensagem do cliente:\n{{ $('Extrair Dados WhatsApp').first().json.mensagem }}",
        "hasOutputParser": true,
        "options": {
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        336,
        -1408
      ],
      "id": "333fc69f-18c3-4840-9a17-f37afe7662e7",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "modelName": "models/gemini-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        -1056
      ],
      "id": "fb4215bb-83f0-4e85-b266-c13c5ebb7a79",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const historico = $input.all().map(item => item.json)\n\nreturn [{json:{\n  historico: JSON.stringify(historico)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        -1408
      ],
      "id": "9f3b2d1f-4008-4a6c-9cf7-7aedda19ec19",
      "name": "Junta as msgs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair Dados WhatsApp').first().json.telefone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ {body:\n$('AI Agent').item.json.output.mensagem\n} }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        -1408
      ],
      "id": "0587581a-3c1d-4fde-b09e-931834f13db8",
      "name": "Enviar msg da IA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05c8f79b-6271-4855-9e49-12164adf584c",
              "leftValue": "={{ $('Buscar mensagens').first().json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        -1408
      ],
      "id": "c0ceedad-b5b6-4740-86b1-70d3a6a803fe",
      "name": "If cliente nao existe"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n      \"nome\": {\n          \"type\": [\"string\", \"null\", \"undefined\"],\n          \"description\": \"Nome completo do cliente, com as iniciais em letra maiúscula. Caso não consiga extrair, preencha com o nome {{ $('Select nome').isExecuted ? $('Select nome').first().json.nome : '' }}\"\n      },\n      \"mensagem\": {\n          \"type\": \"string\",\n          \"description\": \"Mensagem a ser enviada ao cliente, não sendo necessário informar ID de eventos do Google Calendar\"\n      },\n      \"eventoId\": {\n          \"type\": [\"string\", \"null\", \"undefined\"],\n          \"description\": \"ID do evento criado, atualizado ou deletado no Google Calendar\"\n      }\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        704,
        -1056
      ],
      "id": "e80ea168-dfb9-4891-856d-9799fd8df783",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa ferramenta para criar eventos no Google Calendar, para agendamento de consultas, quando apropriado.\n\nEntrada esperada: {\"dataHoraInicial\": \"Data e horário na qual o cliente deseja agendar, convertendo para o formato 'YYYY-MM-DDTHH:mm:ss-03:00'\", \"dataHoraFinal\": \"Valor de 'dataHoraInicial' acrescido do tempo que o tipo de consulta e serviço consomem. 30 minutos para orçamentos e 1 hora para retornos\", \"nome\": \"Nome completo do cliente\"}\n\nSaída esperada: lista contendo os dados do evento criado.",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Data e horário na qual o cliente deseja agendar, convertendo para o formato 'YYYY-MM-DDTHH:mm:ss-03:00'`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `A data e horário na qual o cliente deseja agendar, adicionado do tempo que o tipo de consulta e serviço consomem. 30 minutos para orçamentos e 1 hora para retornos`, 'string') }}",
        "additionalFields": {
          "summary": "=Consulta {{ $fromAI('tipoConsulta', 'Retorno ou orçamento') }} {{ $fromAI('tipoServico', 'Clínica geral, ortodontia ou harmonização facial') }} {{ $fromAI('nome', 'Nome completo do cliente', 'string', '') }} {{ $('Extrair Dados WhatsApp').first().json.telefone }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        160,
        -1056
      ],
      "id": "64259528-d025-4ba6-bd77-33df0dec8bee",
      "name": "criar_evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into mensagens (conversas_id, tipo, conteudo)\nvalues (\n  (select id from conversas where telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}'),\n  'cliente',\n  '{{ $('Extrair Dados WhatsApp').first().json.mensagem }}'\n);\n\ninsert into mensagens (conversas_id, tipo, conteudo)\nvalues (\n  (select id from conversas where telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}'),\n  'agente',\n  '{{ $('AI Agent').first().json.output.mensagem }}'\n);\n\nupdate conversas\nset ultima_interacao = DATE_SUB(CURRENT_TIMESTAMP, INTERVAL 3 HOUR), nome = '{{ $('AI Agent').first().json.output.nome ? `${$('AI Agent').first().json.output.nome}` : '' }}'\nwhere telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        704,
        -1408
      ],
      "id": "f5a72177-1edb-47e2-a9b7-5f74add2537c",
      "name": "Insert into mensagens Update conversas Update nome",
      "credentials": {
        "mySql": {
          "id": "Op5rAe6z6A07TgjU",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use esta ferramenta quando precisar verificar se há eventos no Google Calendar em um intervalo de tempo.\n\nEntrada esperada: {\"data_inicio\": \"YYYY-MM-DDTHH:MM:SS-03:00\", \"data_fim\": \"YYYY-MM-DDTHH:MM:SS-03:00\"}\n\nSaída: lista de eventos encontrados (pode estar vazia).",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `Início da data para consultar, no formato 'YYYY-MM-DDTHH:MM:SS-03:00'.`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `Fim da data para consultar, no formato 'YYYY-MM-DDTHH:MM:SS-03:00'.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        288,
        -1056
      ],
      "id": "82e96575-fe9f-4216-8b1b-623288aea5a1",
      "name": "consultar_eventos",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        -896
      ],
      "id": "2c207e7d-d368-46dc-88e5-4ce016aa8227",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "mwJIDNjXa72pv5wt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Triggers adicionais",
        "height": 592,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2320,
        -864
      ],
      "typeVersion": 1,
      "id": "642f6598-7884-4e11-a41f-9b5bb24b5674",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2224,
        -720
      ],
      "id": "c243f81d-379d-4305-89a3-2c4353d41c0c",
      "name": "Lembrete 1 dia antes"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select c.nome, c.telefone, e.`data`\nfrom eventos_agendados as e\njoin conversas as c\non e.conversas_id = c.id\nwhere e.status = 'ativo'\n  and DATE(e.`data`) = DATE_ADD(CURRENT_DATE(), INTERVAL 1 DAY);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -2016,
        -720
      ],
      "id": "b33b6c26-e701-4a38-b51b-31efeeb39e05",
      "name": "Select datas agendadas amanha",
      "credentials": {
        "mySql": {
          "id": "Op5rAe6z6A07TgjU",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.all().map(item => ({json: {\n  nome: item.json.nome || 'cliente',\n  data: item.json.data.slice(11).slice(0, 5),\n  telefone: item.json.telefone\n}}));\n\nreturn dados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        -720
      ],
      "id": "2da77cbe-5afa-47e6-9224-91c89494b8f4",
      "name": "Formatar os dados"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2224,
        -496
      ],
      "id": "eeba1606-4c7c-4c4d-b7ed-3f062213212a",
      "name": "Lembrete no dia"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select c.nome, c.telefone, e.`data`\nfrom eventos_agendados as e\njoin conversas as c\non e.conversas_id = c.id\nwhere e.status = 'ativo'\n  and DATE(e.`data`) = CURRENT_DATE();",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -2016,
        -496
      ],
      "id": "9f33116d-c96b-489c-aacc-7dbe3e6a0bc2",
      "name": "Select datas agendadas hoje",
      "credentials": {
        "mySql": {
          "id": "Op5rAe6z6A07TgjU",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.all().map(item => ({json: {\n  nome: item.json.nome || 'cliente',\n  data: item.json.data.slice(11).slice(0, 5),\n  telefone: item.json.telefone\n}}));\n\nreturn dados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        -496
      ],
      "id": "b70d455a-a7e1-45c0-a5ec-3bafba0a4dc9",
      "name": "Formatar os dados1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "type",
              "value": "template"
            },
            {
              "name": "template",
              "value": "={{\n{\n  name: \"lembrete_1_dia_antes\",\n  language: {code: \"pt_BR\"},\n  components: [\n    {\n      type: \"body\",\n      parameters: [\n        {\n          type: \"text\",\n          text: `${$json.nome}`,\n          parameter_name: \"nome\"\n        },\n        {\n          type: \"text\",\n          text: `${$json.data}`,\n          parameter_name: \"data\"\n        }\n      ]\n    }\n  ]\n}\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1600,
        -720
      ],
      "id": "97f02c5c-9738-4efa-ab57-f1e1e819abba",
      "name": "Enviar aviso"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/914808141706009/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAKzs9daS6ABP4eGJ0ODzLBWZBYPBKiZCoQ4lpm0K7Fg2O3Y3ZAieGxlGyt479droz9mh1xgn71ZBEVktoMQXbEuZBXCYvxxUdYhWOTpTeFxGEtcqXSSNj0r925fwYvsZCgTtMi3LpBlfbifMHY6xhI9yPCnSiJOWjDQoPrdYsae4RrmfmTPejLODPq7NcpSFajQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "type",
              "value": "template"
            },
            {
              "name": "template",
              "value": "={{\n{\n  name: \"lembrete_no_dia\",\n  language: {code: \"pt_BR\"},\n  components: [\n    {\n      type: \"body\",\n      parameters: [\n        {\n          type: \"text\",\n          text: `${$json.nome}`,\n          parameter_name: \"nome\"\n        },\n        {\n          type: \"text\",\n          text: `${$json.data}`,\n          parameter_name: \"data\"\n        }\n      ]\n    }\n  ]\n}\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1600,
        -496
      ],
      "id": "74eebf18-8af9-45f6-a169-56d118aad7fe",
      "name": "Enviar aviso5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select `data` as data_agendada, evento_id\nfrom eventos_agendados\nwhere conversas_id = (select id from conversas where telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}')\n  and status = 'ativo'\n  and `data` >= DATE_SUB(CURRENT_TIMESTAMP, INTERVAL 3 HOUR);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -448,
        -1408
      ],
      "id": "3c2cb9c3-6f03-40f2-8a55-10cedb19f9f0",
      "name": "Busca por datas agendadas",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "Op5rAe6z6A07TgjU",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const datas_agendadas = $input.all().map(item => item.json);\n\nreturn [{json: {\n  datas_agendadas: JSON.stringify(datas_agendadas)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -1408
      ],
      "id": "68211dd5-14dc-49a8-ac10-5f126b498041",
      "name": "Junta td"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa ferramenta para deletar eventos no Google Calendar, para cancelamento de consultas, quando apropriado.\n\nEntrada esperada: {\"eventoId\": \"ID do evento no Google Calendar no qual o cliente deseja cancelar\"}\n\nSaída esperada: lista contendo os dados do evento deletado.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `ID do evento no Google Calendar no qual o cliente deseja cancelar.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        432,
        -1056
      ],
      "id": "3b9bed50-a1b3-4dd8-866e-cd38ca6d06e6",
      "name": "deletar_evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn [{json: {\n  criar_evento: $input.first().json.intermediateSteps.some(item => item.action?.tool == 'criar_evento'),\n  atualizar_evento: $input.first().json.intermediateSteps.some(item => item.action?.tool == 'atualizar_evento'),\n  deletar_evento: $input.first().json.intermediateSteps.some(item => item.action?.tool == 'deletar_evento')\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -1824
      ],
      "id": "1aed1cf7-b312-4a35-8a07-93804dd17e84",
      "name": "Tools executados"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f4e70fbe-27c6-41fb-91b6-f48778f6c7bc",
                    "leftValue": "={{ $json.criar_evento }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "criar_evento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "59ec5e05-0d79-4685-aae0-1139c41f97d4",
                    "leftValue": "={{ $json.atualizar_evento }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "atualizar_evento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5d7c10e5-eb6b-4069-b514-3c20a198fa3a",
                    "leftValue": "={{ $json.deletar_evento }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deletar_evento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        896,
        -1840
      ],
      "id": "2add8f8f-424f-40e9-a1f1-8f8fb2d36496",
      "name": "Tool executado"
    },
    {
      "parameters": {
        "jsCode": "let data = undefined;\n\nfor (const item of $(\"AI Agent\").first().json.intermediateSteps) {\n  if (item.action.tool == 'criar_evento') {\n    data = item.action.toolInput.Start.replace('T', ' ').slice(0, 19);\n  }\n}\n\nreturn [{json: {\n  data: data\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -2048
      ],
      "id": "7d856cf9-a3f7-4f87-a8ca-1347d31cf609",
      "name": "Retorna data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into eventos_agendados (conversas_id, `data`, evento_id)\nvalues (\n  (select id from conversas where telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}'),\n  '{{ $json.data }}',\n  '{{ $('AI Agent').first().json.output.eventoId }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1376,
        -2048
      ],
      "id": "eac6324a-f599-452c-840d-f7379e80a761",
      "name": "Insert into eventos_agendados",
      "credentials": {
        "mySql": {
          "id": "Op5rAe6z6A07TgjU",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update eventos_agendados\nset status = 'cancelado'\nwhere evento_id = '{{ $('AI Agent').first().json.output.eventoId }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1168,
        -1632
      ],
      "id": "c09dba09-69b4-48e4-9524-8e89634dcbf1",
      "name": "Update eventos_agendados",
      "credentials": {
        "mySql": {
          "id": "Op5rAe6z6A07TgjU",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let data = undefined;\n\nfor (const item of $(\"AI Agent\").first().json.intermediateSteps) {\n  if (item.action.tool == 'atualizar_evento') {\n    data = item.action.toolInput.dataHoraInicial.replace('T', ' ').slice(0, 19);\n  }\n}\n\nreturn [{json: {\n  data: data\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -1824
      ],
      "id": "a9950f5a-ecf7-4f2b-9a37-be5308fb0395",
      "name": "Retorna data1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into eventos_agendados (conversas_id, `data`, evento_id)\nvalues (\n  (select id from conversas where telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}'),\n  '{{ $('Retorna data1').first().json.data }}',\n  '{{ $('AI Agent').first().json.output.eventoId }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1536,
        -1824
      ],
      "id": "0dec6189-f4c0-4155-a8ce-8d48ec5735d3",
      "name": "Insert into eventos_agendados1",
      "credentials": {
        "mySql": {
          "id": "Op5rAe6z6A07TgjU",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update eventos_agendados\nset status = 'cancelado'\nwhere evento_id = '{{ $('AI Agent').first().json.output.eventoId }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1360,
        -1824
      ],
      "id": "10b98571-b379-4f4f-ad1c-bcab3376134d",
      "name": "Update eventos_agendados1",
      "credentials": {
        "mySql": {
          "id": "Op5rAe6z6A07TgjU",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa ferramenta para atualizar eventos no Google Calendar, para reagendamento de consultas, quando apropriado.\n\nEntrada esperada: {\"dataHoraInicial\": \"Nova data e horário na qual o cliente deseja agendar, convertendo para o formato 'YYYY-MM-DDTHH:mm:ss-03:00'\", \"dataHoraFinal\": \"Valor de 'dataHoraInicial' acrescido do tempo que o tipo de consulta e serviço consomem. 30 minutos para orçamentos e 1 hora para retornos\", \"eventoId\": \"ID do evento no Google Calendar que o cliente deseja reagendar\"}\n\nSaída esperada: lista contendo os dados do evento atualizado.",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "mateussmesquita@gmail.com",
          "mode": "list",
          "cachedResultName": "mateussmesquita@gmail.com"
        },
        "eventId": "={{ $fromAI('eventoId', 'ID do evento no Google Calendar no qual o cliente quer reagendar', 'string') }}",
        "updateFields": {
          "end": "={{ $fromAI('dataHoraFinal', 'Nova data e horário na qual o cliente deseja agendar, no formato YYYY-MM-DDTHH:mm:ss-03:00, acrescido do tempo que o tipo de consulta e serviço consomem. 30 minutos para orçamentos e 1 hora para retornos', 'string') }}",
          "start": "={{ $fromAI('dataHoraInicial', 'Nova data e horário na qual o cliente deseja agendar, convertendo para o formato YYYY-MM-DDTHH:mm:ss-03:00', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        576,
        -1056
      ],
      "id": "45a2a9f5-a0e1-42b5-9a95-be754c609630",
      "name": "atualizar_evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OW5Fz1MJL38TiSw3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select nome\nfrom conversas\nwhere telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -96,
        -1408
      ],
      "id": "fb78161c-61fa-4139-953c-082ab249f716",
      "name": "Select nome",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "Op5rAe6z6A07TgjU",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id\nfrom conversas\nwhere telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1120,
        -1408
      ],
      "id": "91b95ed4-0032-4540-b190-92372bf4e9e7",
      "name": "Select id from conversas",
      "credentials": {
        "mySql": {
          "id": "Op5rAe6z6A07TgjU",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/messages/notify/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-TOKEN",
              "value": "SsdkO34Jrm323o2IJ23fFKFO3fSj43kOK0543Lks235wkAMmrkmyi324MeMmMTte2523"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversa_id\": \"{{ $('Select id from conversas').first().json.id }}\",\n  \"mensagem\": \"{{ $('AI Agent').first().json.output.mensagem }}\",\n  \"tipo\": \"agente\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1328,
        -1408
      ],
      "id": "efd07294-b807-42c7-8a63-ee3612a30608",
      "name": "Atualiza django chat agente"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/messages/notify/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-TOKEN",
              "value": "SsdkO34Jrm323o2IJ23fFKFO3fSj43kOK0543Lks235wkAMmrkmyi324MeMmMTte2523"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversa_id\": \"{{ $('Select id from conversas1').first().json.id }}\",\n  \"mensagem\": \"{{ $('Webhook IN').first().json.body.entry[0].changes[0].value.messages[0].text.body }}\",\n  \"tipo\": \"cliente\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        512,
        -2176
      ],
      "id": "dcb6b03b-83d5-4fac-943a-3a6280083e03",
      "name": "Atualiza django chat cliente"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id\nfrom conversas\nwhere telefone = '{{ $('Extrair Dados WhatsApp').first().json.telefone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        320,
        -2176
      ],
      "id": "5873861f-2c73-4f72-bc1f-b3514b07e032",
      "name": "Select id from conversas1",
      "credentials": {
        "mySql": {
          "id": "Op5rAe6z6A07TgjU",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook IN').first().json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d1c7337d-2db4-40b7-af13-1afa7ba0ebb1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dfd01a53-6dfc-4bbe-97a1-fc5c56b059f8",
                    "leftValue": "={{ $('Webhook IN').first().json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        96,
        -2160
      ],
      "id": "5968de2c-e08f-4a82-839e-02e40a186226",
      "name": "Switch1"
    }
  ],
  "pinData": {
    "Webhook IN": [
      {
        "json": {
          "headers": {
            "host": "bethann-conciliable-unvibrantly.ngrok-free.dev",
            "user-agent": "facebookexternalua",
            "content-length": "527",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json",
            "x-forwarded-for": "2a03:2880:10ff:8::",
            "x-forwarded-host": "bethann-conciliable-unvibrantly.ngrok-free.dev",
            "x-forwarded-proto": "https",
            "x-hub-signature": "sha1=cdd71bc40e4d71dd469024a5d76562168109399d",
            "x-hub-signature-256": "sha256=2b28059d7e0ec869b403f82fe1629a11b8e2c07698c250b87142cd5c9ee55615"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "whatsapp_business_account",
            "entry": [
              {
                "id": "1485481985861913",
                "changes": [
                  {
                    "value": {
                      "messaging_product": "whatsapp",
                      "metadata": {
                        "display_phone_number": "551930610140",
                        "phone_number_id": "914808141706009"
                      },
                      "contacts": [
                        {
                          "profile": {
                            "name": "Mateus Schmidt Mesquita"
                          },
                          "wa_id": "5519996643834"
                        }
                      ],
                      "messages": [
                        {
                          "from": "5519996643834",
                          "id": "wamid.HBgNNTUxOTk5NjY0MzgzNBUCABIYFDNGMTVEM0QzQTE2QjFERTAzREE5AA==",
                          "timestamp": "1763528717",
                          "text": {
                            "body": "quero marcar uma consulta amanha as 15"
                          },
                          "type": "text"
                        }
                      ]
                    },
                    "field": "messages"
                  }
                ]
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook/whatsapp-webhook",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook IN": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados WhatsApp": {
      "main": [
        [
          {
            "node": "Buscar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extrair Dados WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Extrair Dados WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens": {
      "main": [
        [
          {
            "node": "Junta as msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Novo Usuário": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Junta as msgs": {
      "main": [
        [
          {
            "node": "If cliente nao existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Insert into mensagens Update conversas Update nome",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tools executados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If cliente nao existe": {
      "main": [
        [
          {
            "node": "Criar Novo Usuário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca por datas agendadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "criar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insert into mensagens Update conversas Update nome": {
      "main": [
        [
          {
            "node": "Enviar msg da IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 1 dia antes": {
      "main": [
        [
          {
            "node": "Select datas agendadas amanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select datas agendadas amanha": {
      "main": [
        [
          {
            "node": "Formatar os dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar os dados": {
      "main": [
        [
          {
            "node": "Enviar aviso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete no dia": {
      "main": [
        [
          {
            "node": "Select datas agendadas hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select datas agendadas hoje": {
      "main": [
        [
          {
            "node": "Formatar os dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar os dados1": {
      "main": [
        [
          {
            "node": "Enviar aviso5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca por datas agendadas": {
      "main": [
        [
          {
            "node": "Junta td",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Junta td": {
      "main": [
        [
          {
            "node": "Select nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deletar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tools executados": {
      "main": [
        [
          {
            "node": "Tool executado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool executado": {
      "main": [
        [
          {
            "node": "Retorna data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna data1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update eventos_agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna data": {
      "main": [
        [
          {
            "node": "Insert into eventos_agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna data1": {
      "main": [
        [
          {
            "node": "Update eventos_agendados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update eventos_agendados1": {
      "main": [
        [
          {
            "node": "Insert into eventos_agendados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Select nome": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar msg da IA": {
      "main": [
        [
          {
            "node": "Select id from conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select id from conversas": {
      "main": [
        [
          {
            "node": "Atualiza django chat agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select id from conversas1": {
      "main": [
        [
          {
            "node": "Atualiza django chat cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Select id from conversas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "37710614-cf6d-40c2-ae60-443dd5979848",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a5858773c819eef5c772c511bb8bf6c8d350f72a6984a156e8f3d5f5f2f96f8"
  },
  "id": "7irPfQL9YO7j154H",
  "tags": []
}